.featured-clients {
  position: relative;
  z-index: 2;
  padding: 2.25rem 1rem 4.5rem;
  color: $c--dark;
  background-color: $c--shade;

  @media (min-width: $screen-sm) {
    padding: 3.75rem 1.5rem 0;
  }

  &__container {
    @include container;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template: 'header header header' 'logos . feedback' / 6fr 1fr 5fr;
      gap: 2.25rem 0.75rem;
    }
  }

  &__header {
    position: relative;
    opacity: 0;
    transition: 0.75s $transition-t 0.5s;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 15vw;
      height: 15vw;
      content: '';
      background-color: $accent-c;
      border-radius: 15vw;
      opacity: 0;
      transition: 0.75s $transition-t 0.5s;
      transform: translate3d(-25%, -25%, 0) scale(0);
    }

    @media (min-width: $screen-sm) {
      grid-area: header;
    }

    &.is-inview {
      opacity: 1;

      &::before {
        opacity: 1;
        transform: translate3d(-40%, -40%, 0) scale(1);
      }
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  &__logos {

    @media (min-width: $screen-sm) {
      grid-area: logos;
    }
  }

  &__logos-list {
    position: relative;
    display: grid;
    padding: 0;
    padding-bottom: 2.25rem;
    margin: 0;
    list-style: none;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      padding-bottom: 7.5rem;
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      content: '';
      background-color: currentColor;
      transition: 0.75s $transition-t 0.5s;
      transform: scaleY(0);
      transform-origin: top center;
    }

    &.is-inview {

      &::before {
        transform: scaleY(1);
      }

      .featured-clients__logos-item {
        opacity: 1;
      }
    }
  }

  &__logos-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: 0.75s $transition-t;

    @media (min-width: $screen-sm) {
      height: 10rem;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
      opacity: 0.125;
    }

    @for $i from 1 to 6 {

      &:nth-child(#{$i}) {
        transition-delay: 0.5s + ($i * 0.05s);
      }
    }
  }

  &__feedback {
    overflow: hidden;
    opacity: 0;
    transition: 0.75s $transition-t 0.8s;

    @media (min-width: $screen-sm) {
      grid-area: feedback;
      width: 100%;
    }

    &.is-inview {
      opacity: 1;
    }
  }

  &__feedback-slider {

    .swiper-slide {
      opacity: 0;
      transition: opacity 0.125s $transition-t;
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }

  &__slider-progressbar {
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }
  }
}
