mixin featured-clients(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' featured-clients--' + modsList[i].trim();
      }
    }

  section.featured-clients(class=allMods, data-scroll-section)&attributes(attributes)
    .featured-clients__container
      .featured-clients__header(data-scroll)
        span.featured-clients__subtitle Клиенты
        h2.featured-clients__title The horror, monstra epidemic significant finem
      .featured-clients__logos
        ul.featured-clients__logos-list(data-scroll)
          li.featured-clients__logos-item
            img(src='img/logoipsum-1.svg', alt='', width='200', height='100')
          li.featured-clients__logos-item
            img(src='img/logoipsum-2.svg', alt='', width='200', height='100')
          li.featured-clients__logos-item
            img(src='img/logoipsum-3.svg', alt='', width='200', height='100')
          li.featured-clients__logos-item
            img(src='img/logoipsum-1.svg', alt='', width='200', height='100')
          li.featured-clients__logos-item
            img(src='img/logoipsum-4.svg', alt='', width='200', height='100')
      .featured-clients__feedback(data-scroll)
        +slider-progressbar().featured-clients__slider-progressbar
        .featured-clients__feedback-slider
          .swiper-wrapper
            .swiper-slide
              +feedback-card({
                text: 'The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro'
              })
            .swiper-slide
              +feedback-card({
                text: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium'
              })
            .swiper-slide
              +feedback-card({
                text: 'Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens'
              })