.main-nav {
  position: relative;
  grid-area: nav;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: currentColor;
  }

  @media (max-width: ($screen-md - 1px)) {

    &::before {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background-color: currentColor;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: ms(-1);
    line-height: 1.45em;

    @media (min-width: $screen-md) {
      flex: 0 0 auto;
      width: 25%;
      max-width: 100%;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: calc(100% + 1.5rem);
        content: '';
        background-color: currentColor;
        opacity: 0.125;
      }
    }

    @media (min-width: $screen-md) {

      &:hover > ul,
      &:focus-within > ul,
      & ul:hover,
      & ul:focus {
        pointer-events: all;
        visibility: visible;
        transition: visibility linear 0s;

        &::before {
          transform: scaleY(1);
        }

        li {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &--services,
    &--works {
      font-weight: 600;
    }

    &--about,
    &--contacts {

      .main-nav__link {

        &:hover {

          svg {
            transform: translate3d(0.125rem, 0.125rem, 0) rotate(45deg);
          }
        }

        svg {
          transform: translate3d(0, 0, 0) rotate(45deg);
        }
      }
    }

    &--services {

      ul {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        width: 502%;
        padding: 1.25rem 1.5rem;
        margin: 0;
        color: $c--shade;
        list-style: none;
        pointer-events: none;
        visibility: hidden;
        transition: visibility linear 0.6s;

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          content: '';
          background-color: $c--dark;
          transition: transform 0.6s $transition-t--faster;
          transform: scaleY(0);
          transform-origin: top center;
        }

        li {
          position: relative;
          z-index: 2;
          padding: 0;
          margin: 0;
          opacity: 0;
          transition: 0.6s $transition-t;
          transform: translateY(-0.25rem);

          @for $i from 1 to 5 {

            &:nth-child(#{$i}) {
              transition-delay: 0.1s + ($i * 0.05s);
            }
          }

          &:not(:last-child) {
            margin-bottom: 0.25rem;
          }

          a {
            display: inline-flex;
            align-items: center;
            color: currentColor;
            text-decoration: none;
            transition: color 0.25s $transition-t;

            &:hover {
              color: $accent-c;

              svg {
                transform: translate3d(0.125rem, -0.125rem, 0) rotate(-45deg);
              }
            }

            svg {
              display: block;
              margin-left: 0.5rem;
              transition: transform 0.5s $transition-t--faster;
              transform: translate3d(0, 0, 0) rotate(-45deg);
              transform-origin: center;
            }
          }
        }
      }
    }
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 0;
    color: currentColor;
    text-decoration: none;

    svg {
      display: block;
      margin-left: 0.5rem;
      transition: transform 0.75s $transition-t;
      transform: translate3d(0, 0, 0) rotate(-45deg);
      transform-origin: center;

      @media (max-width: ($screen-sm - 1px)) {
        display: none;
      }
    }

    @media (min-width: $screen-md) {
      width: 100%;
      padding: 0 1.5rem 2.25rem;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        content: '';
        background-color: currentColor;
        transition: transform 0.25s $transition-t;
        transform: scaleY(0);
        transform-origin: center;
      }
    }

    &:hover {

      &::after {
        transform: scaleY(1);
      }

      svg {
        transform: translate3d(0.125rem, -0.125rem, 0) rotate(-45deg);
      }

      .main-nav__link-inner {

        &::before {
          opacity: 1;
          transform: translateY(0);
        }

        span {
          opacity: 0;
          transform: translateY(-125%);
        }
      }
    }
  }

  &__link-inner {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;

    &::after {
      position: relative;
      display: inline-flex;
      margin-left: 0.25rem;
      font-size: ms(-1);
      line-height: 1.4em;
      color: currentColor;
      vertical-align: top;
      content: attr(data-num);
    }

    &::before {
      position: absolute;
      left: 0;
      color: currentColor;
      content: attr(data-title);
      opacity: 0;
      transition:
        transform 0.5s $transition-t,
        opacity 0.25s $transition-t;
      transform: translateY(125%);
      will-change: transform;
    }

    span {
      display: inline-flex;
      opacity: 1;
      transition:
        transform 0.75s $transition-t,
        opacity 0.25s $transition-t;
      will-change: transform;
    }
  }
}
