mixin main-nav(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-nav--' + modsList[i].trim();
      }
    }

  nav.main-nav(class=allMods)&attributes(attributes)
    ul.main-nav__list

      li.main-nav__item.main-nav__item--services
        a.main-nav__link(href='/')
          span.main-nav__link-inner(data-title='Услуги', data-num='4')
            span Услуги
          +svg-icon('arrow', 10, 10)
        ul
          li
            a(href='/')
              | Broadcast design
              +svg-icon('arrow', 10, 10)
          li
            a(href='/')
              | Создание B2B-инфографики для сложных продуктов и IT-систем
              +svg-icon('arrow', 10, 10)
          li
            a(href='/')
              | Корпоративные и презентационные фильмы
              +svg-icon('arrow', 10, 10)
          li
            a(href='/')
              | 3D-графика и анимация для рекламных роликов
              +svg-icon('arrow', 10, 10)


      li.main-nav__item.main-nav__item--works
        a.main-nav__link(href='works.html')
          span.main-nav__link-inner(data-title='Портфолио', data-num='98')
            span Портфолио
          +svg-icon('arrow', 10, 10)

      li.main-nav__item.main-nav__item--about
        a.main-nav__link(href='about.html')
          span.main-nav__link-inner(data-title='О нас')
            span О нас
          +svg-icon('arrow', 10, 10)

      li.main-nav__item.main-nav__item--contacts
        a.main-nav__link(href='contacts.html')
          span.main-nav__link-inner(data-title='Контакты')
            span Контакты
          +svg-icon('arrow', 10, 10)