.banner {
  padding: 0 1rem;

  @media (min-width: $screen-sm) {
    padding: 0 1.5rem;
  }

  &__container {
    @include container;
  }

  &__media {
    position: relative;
    z-index: 1;
    margin-bottom: 0.75rem;
    overflow: hidden;

    &::after {
      display: block;
      padding-bottom: (3 / 4) * 100%;
      content: '';

      @media (min-width: $screen-sm) {
        padding-bottom: (9 / 18) * 100%;
      }
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.2);
    }
  }
}
