.page {
  min-width: 320px;
  min-height: 100%;
  font-size: 20px;
  line-height: 1.5em;
  color: $c--dark;
  background-color: $c--shade;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;

  .loading {

    &::before {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;
      content: '';
      background-color: $c--dark;
    }

    &::after {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 100000;
      width: 60px;
      height: 60px;
      margin: -30px 0 0 -30px;
      pointer-events: none;
      content: '';
      background: $accent-c;
      border-radius: 50%;
      opacity: 0.75;
      animation: loaderAnim 0.75s ease-in-out infinite alternate forwards;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }

  &--dark {
    color: $c--shade;
    background-color: $c--dark;
  }

  @keyframes loaderAnim {

    to {
      opacity: 0.25;
      transform: scale3d(0.5, 0.5, 1);
    }
  }
}
