mixin get-a-call(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' get-a-call--' + modsList[i].trim();
      }
    }

  .get-a-call(class=allMods)&attributes(attributes)
    span
    a.get-a-call__link(href='#get-in-touch-modal')  Заказать звонок