.get-a-call {
  position: relative;
  padding-left: 1.25rem;
  font-size: ms(-1);
  font-weight: 600;
  line-height: 1.45em;

  &::after {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    bottom: -0.5em;
    left: -0.5em;
    z-index: -1;
    content: '';
  }

  span {
    position: absolute;
    top: 45%;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: $accent-c;
    border-radius: 6px;
    transform: translate3d(0, -40%, 0);
    animation-name: point;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: forward;
  }

  a {
    display: block;
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
  }

  &:hover {

    span {
      animation-duration: 0.25s;
    }
  }
}
