.promo {
  position: relative;
  z-index: 3;
  padding: 3.75rem 1rem 0;
  color: $c--dark;

  @media (min-width: $screen-sm) {
    padding: 7.5rem 1.5rem 0;
  }

  &__container {
    @include container;
  }

  &__info {
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template: 'title . intro . socials' / 6fr 1fr 3fr 1fr 1fr;
      gap: 0 0.75rem;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: $font-f--head;
    font-size: ms(2);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: -0.01em;

    @media (min-width: $screen-sm) {
      grid-area: title;
      align-self: end;
      margin-bottom: 0;
    }
  }

  &__title-inner {
    display: inline-block;
    margin-right: 0.15em;

    &--accent {
      display: block;
      font-size: ms(1);

      @media (max-width: ($screen-sm - 1px)) {
        line-height: 1em;
      }

      @media (min-width: $screen-sm) {
        display: inline-block;
        font-size: ms(3);
      }
    }
  }

  &__intro {
    position: relative;
    font-size: ms(-1);
    line-height: 1.45em;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 5vw;
      height: 5vw;
      content: '';
      background-color: $accent-c;
      border-radius: 5vw;
      transform: translate3d(-50%, -50%, 0);
    }

    @media (min-width: $screen-sm) {
      grid-area: intro;
      align-self: end;
    }
  }

  &__socials {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
      grid-area: socials;
      align-self: end;
      text-align: right;
    }
  }

  &__socials-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__socials-item {
    padding: 0;
    margin: 0;
    font-size: 0.6em;
    font-weight: 600;
    line-height: 1.4em;
    text-transform: lowercase;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }

    a {
      color: currentColor;
      text-decoration: none;
    }
  }

  &__video {
    position: relative;
    background-color: $bg-c--dark;
  }

  &__video-caption {
    position: absolute;
    bottom: 4.5rem;
    left: 4.5rem;
    z-index: 2;
    max-width: 30ch;
    font-size: 0.6em;
    line-height: 1.5em;
    color: #fff;

    &::before {
      position: absolute;
      bottom: calc(100% + 1.5rem);
      left: 0;
      width: 6px;
      height: 6px;
      content: '';
      background-color: $accent-c;
      border-radius: 6px;
    }

    @media (max-width: ($screen-lg - 1px)) {
      display: none;
    }
  }

  &__video-showreel {
    position: absolute;
    right: 4.5rem;
    bottom: 4.5rem;
    z-index: 2;
    width: 190px;
    height: 190px;

    @media (max-width: ($screen-lg - 1px)) {
      right: 50%;
      bottom: 50%;
      transform: translate3d(50%, 50%, 0);
    }
  }

  &__video-cover {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
      display: block;
      padding-bottom: (3 / 4) * 100%;
      content: '';

      @media (min-width: $screen-xs) {
        padding-bottom: (9 / 18) * 100%;
      }
    }
  }

  &__video-cover-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(1.1);
      object-fit: cover;
    }
  }
}
