.about {
  position: relative;
  z-index: 3;
  padding: 3.75rem 1rem 4.5rem;
  color: $c--dark;
  background-color: $c--shade;

  @media (min-width: $screen-sm) {
    padding: 7.5rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    max-width: 25ch;
    margin-top: 0;
    margin-bottom: 2.25rem;
    font-family: $font-f--head;
    font-size: ms(3);
    font-weight: 700;
    line-height: 0.9em;
    text-transform: uppercase;
    letter-spacing: -0.01em;

    @media (min-width: $screen-sm) {
      margin-bottom: 3.75rem;
      font-size: ms(4);
    }
  }

  &__block {
    position: relative;

    &::before {
      position: absolute;
      top: -1px;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
    }

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 0 0.75rem;
    }

    &--about-us {
      margin-bottom: 3rem;

      @media (min-width: $screen-sm) {
        grid-template: '. about-us .' / 2fr 5fr 5fr;
        margin-bottom: 4.5rem;

        .about__block-inner {
          grid-area: about-us;
        }
      }
    }

    &--advantages {

      @media (min-width: $screen-sm) {
        grid-template: '. . advantages' / 2fr 5fr 5fr;
      }

      .about__block-inner {
        grid-area: advantages;
      }
    }
  }

  &__block-inner {
    padding-top: 1.5rem;

    @media (min-width: $screen-sm) {
      position: relative;
      padding-top: 2.25rem;

      &::before {
        position: absolute;
        top: -2px;
        right: 0;
        left: 0;
        height: 3px;
        content: '';
        background-color: currentColor;
      }
    }
  }

  &__text {
    font-size: 0.8em;
    line-height: 1.4em;
  }
}
