.other-works {
  @include s-basic;

  &__container {
    @include container;
  }

  &__inner {
    position: relative;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 0 0.75rem;
      grid-template: 'intro list' / 5fr 7fr;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 1px;
        content: '';
        background-color: currentColor;
      }
    }

    .has-scroll-init & {

      &::before {
        transition: transform 0.75s $transition-t--faster 0.25s;
        transform: scaleX(0);
        transform-origin: left center;
      }
    }

    &.is-inview {

      &::before {
        transform: scaleX(1);
      }
    }
  }

  &__intro {
    position: relative;

    @media (min-width: $screen-sm) {
      grid-area: intro;
      padding-top: 2.25rem;

      &::before {
        position: absolute;
        bottom: calc(100% + 0.75rem);
        left: 0;
        width: 6px;
        height: 6px;
        content: '';
        background-color: currentColor;
        border-radius: 6px;
      }
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.75s $transition-t 0.5s;
    }

    &.is-inview {
      opacity: 1;
    }
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  &__list-wrap {
    position: relative;

    @media (min-width: $screen-sm) {
      grid-area: list;
      padding: 2.25rem 2.25rem 0;

      &::before {
        position: absolute;
        top: -1.5rem;
        left: 0;
        width: 1px;
        height: 4.5rem;
        content: '';
        background-color: currentColor;
        opacity: 0.125;
        transform: translate3d(-50%, 0, 0);
      }
    }

    &.is-inview {

      .other-works__item {

        &.is-inview {
          opacity: 1;
        }
      }
    }
  }

  &__list-headings {
    display: none;

    @media (min-width: $screen-sm) {
      position: absolute;
      right: 0;
      bottom: calc(100% + 0.75rem);
      left: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0 2.25rem;
    }
  }

  &__list-heading {
    display: block;
    margin: 0;
    font-size: ms(-2);
    font-weight: 600;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.5;

    &--year {
      flex: 0 0 auto;
      width: 15%;
      max-width: 100%;
    }

    &--name {
      flex: 1 0 0%;
      width: 100%;
      max-width: 100%;
    }

    &--expertise {
      flex: 0 0 auto;
      width: 35%;
      max-width: 100%;

      @media (max-width: ($screen-xs - 1px)) {
        display: none;
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    &:hover {

      a {
        opacity: 0.25;
      }
    }

    a {

      &:hover {
        opacity: 1;
      }
    }
  }

  &__item {
    padding: 0;
    margin: 0;
    font-family: $font-f--head;
    font-size: ms(0);
    line-height: 1em;
    text-transform: uppercase;

    .has-scroll-init & {
      opacity: 0;
      transition: 0.75s $transition-t;

      @for $i from 1 to 7 {

        &:nth-child(#{$i}) {
          transition-delay: 0.5s + ($i * 0.025s);
        }
      }
    }
  }

  &__item-link {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.25rem 0;
    color: currentColor;
    text-decoration: none;
    transition: 0.25s $transition-t;

    &:hover,
    &:focus {

      .other-works__arrow svg {
        transform: translate3d(0.125rem, -0.125rem, 0) rotate(-45deg);
      }
    }
  }

  &__year {
    flex: 0 0 auto;
    width: 15%;
    max-width: 100%;
  }

  &__name {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
  }

  &__expertise {
    flex: 0 0 auto;
    width: 35%;
    max-width: 100%;

    @media (max-width: ($screen-xs - 1px)) {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    top: 0.25rem;
    right: 0;

    svg {
      display: block;
      transition: transform 0.5s $transition-t;
      transform: translate3d(0, 0, 0) rotate(-45deg);
      transform-origin: center;
    }
  }
}
