.feedback-card {

  &__text {
    position: relative;
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: ms(1);
    font-weight: 600;
    line-height: 1.2em;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }

    // &::before {
    //   content: '“';
    // }

    // &::after {
    //   content: '”';
    // }
  }

  &__quotee {
    margin: 0;
    font-size: ms(-1);
    font-weight: 600;
    line-height: 1.45em;
  }

  &__about-quotee {
    font-size: 0.6em;
    line-height: 1.5em;
    opacity: 0.5;
  }
}
