mixin feedback-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' feedback-card--' + modsList[i].trim();
      }
    }

  .feedback-card(class=allMods)&attributes(attributes)
    .feedback-card__text!= props.text
    .feedback-card__quotee Quotee
    .feedback-card__about-quotee Info about quotee
