.page-header {
  position: relative;
  z-index: 100;
  padding: 0.75rem 1rem 0;
  color: $c--dark;
  background-color: $c--shade;

  @media (min-width: $screen-sm) {
    padding: 1.5rem 1.5rem 0;
  }

  &__container {
    @include container;
    display: grid;
    grid-template:
      'logo contacts'
      'nav nav' / auto 1fr;
    gap: 0 0.75rem;

    @media (min-width: $screen-md) {
      grid-template: 'logo nav nav nav nav contacts' / 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 0 0.75rem;
    }
  }

  &__logo-wrap {
    display: flex;
    grid-area: logo;
    justify-content: flex-start;
  }

  &__contacts {
    position: relative;
    grid-area: contacts;
    padding-bottom: 0.75rem;
    text-align: right;

    @media (min-width: $screen-sm) {
      padding-bottom: 1rem;
    }

    @media (min-width: $screen-md) {
      padding-bottom: 0;

      &::after {
        position: absolute;
        top: 100%;
        right: 0;
        width: calc(100% + 0.75rem);
        height: 1px;
        content: '';
        background-color: currentColor;
      }
    }
  }

  &__contacts-list {
    grid-area: contacts-list;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__contacts-item {
    padding: 0;
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: ms(-1);
    line-height: 1.45em;
    color: currentColor;
    text-transform: lowercase;
  }

  &__contacts-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;

    &::before {
      position: absolute;
      top: -0.25em;
      right: -0.25em;
      bottom: -0.25em;
      left: -0.25em;
      content: '';
    }
  }

  &__get-a-call {
    position: absolute;
    top: calc(100% + 0.75rem);
    right: 0;

    @media (max-width: ($screen-md - 1px)) {
      display: none;
    }
  }

  &--dark {
    color: $c--shade;
    background-color: $c--dark;
  }

  @keyframes point {

    0% {
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    55% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
}
