mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods, data-scroll-section)&attributes(attributes)
    .page-header__container

      .page-header__logo-wrap
        +logo('57', '50').page-header__logo

      +main-nav().page-header__nav

      .page-header__contacts
        ul.page-header__contacts-list
          li.page-header__contacts-item
            a.page-header__contacts-link(href='tel:+79266543892')
              | +7 (926) 654-38-92
          li.page-header__contacts-item
            a.page-header__contacts-link(href='mailto:hello@cavaliers.studio')
              | hello@cavaliers.studio
        +get-a-call().page-header__get-a-call

      //- .page-header__services-drop
      //-   ul
      //-     li
      //-       a(href='/')
      //-         | Broadcast design
      //-         +svg-icon('arrow', 10, 10)
      //-     li
      //-       a(href='/')
      //-         | Создание B2B-инфографики для сложных продуктов и IT-систем
      //-         +svg-icon('arrow', 10, 10)
      //-     li
      //-       a(href='/')
      //-         | Корпоративные и презентационные фильмы
      //-         +svg-icon('arrow', 10, 10)
      //-     li
      //-       a(href='/')
      //-         | 3D-графика и анимация для рекламных роликов
      //-         +svg-icon('arrow', 10, 10)

