mixin slider-navigation(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider-navigation--' + modsList[i].trim();
      }
    }

  .slider-navigation(class=allMods)&attributes(attributes)
    button.slider-navigation__btn.slider-navigation__btn--prev
      +svg-icon('arrow', 12, 10)
    button.slider-navigation__btn.slider-navigation__btn--next
      +svg-icon('arrow', 12, 10)