.works {
  position: relative;
  z-index: 3;
  padding: 3.75rem 1rem 4.5rem;
  color: $c--dark;

  @media (min-width: $screen-sm) {
    padding: 7.5rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__title {
    max-width: 25ch;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: $font-f--head;
    font-size: ms(3);
    font-weight: 700;
    line-height: 0.9em;
    text-transform: uppercase;
    letter-spacing: -0.02em;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
      font-size: ms(4);
    }
  }

  &__nav {
    position: relative;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 3rem;

      &::after {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: 1px;
        content: '';
        background-color: currentColor;
      }
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__nav-item {
    padding: 0;
    margin: 0;
    font-size: ms(-1);
    font-weight: 600;
    line-height: 1.45em;

    &:not(:last-child) {
      margin-right: 1.5rem;

      @media (min-width: $screen-sm) {
        margin-right: 2.25rem;
      }
    }

    span,
    a {
      position: relative;
      display: block;
      padding: 0.5rem 0;

      @media (min-width: $screen-sm) {
        padding: 0.75rem 0;
      }

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 3px;
        content: '';
        background-color: currentColor;
      }
    }

    a {
      color: currentColor;
      text-decoration: none;

      &::after {
        opacity: 0;
        transition: 0.125s $transition-t;

        @media (max-width: ($screen-sm - 1px)) {
          opacity: 0.125;
        }
      }

      &:hover {

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: works;
  }

  &__item {
    padding: 0;
    margin: 0;
    counter-increment: works;

    &:not(:last-child) {
      margin-bottom: 2.25rem;

      @media (min-width: $screen-sm) {
        margin-bottom: 6rem;
      }
    }

    &:nth-child(odd) {

      @media (min-width: $screen-sm) {

        .works__card-media {
          grid-column: 1 / span 7;
        }

        .works__card-info {
          grid-column: 9 / span 4;
        }
      }
    }

    &:nth-child(even) {

      @media (min-width: $screen-sm) {

        .works__card-info {
          grid-column: 1 / span 4;
          order: 1;
        }

        .works__card-media {
          grid-column: 6 / span 7;
          order: 2;
        }
      }
    }
  }

  &__card {

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 0 0.75rem;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
    }
  }

  &__card-media {
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 0.75rem;
    overflow: hidden;
    transition: transform 0.75s $transition-t--faster;
    transform-origin: center;
    will-change: transform;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }

    &::after {
      display: block;
      padding-bottom: (9 / 16) * 100%;
      content: '';
    }

    &:hover {
      transform: scale(0.95);

      img {
        transform: scale(1.275);
      }
    }

    .has-scroll-init & {

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        background-color: $c--shade;
        transition: transform 1s $transition-t;
        transition-delay: 0.25s;
        transform: scaleY(1);
        transform-origin: top center;
      }
    }

    &.is-inview {

      &::before {
        transform: scaleY(0);
        transform-origin: bottom center;
      }
    }
  }

  &__card-media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.75s $transition-t--faster;
      transform: scale(1.2);
      transform-origin: center;
      object-fit: cover;
      will-change: transform;
    }
  }

  &__card-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;

    @media (min-width: $screen-sm) {
      flex-direction: column;
    }

    &.is-inview {

      .works__card-num,
      .works__card-content {
        opacity: 1;
      }
    }
  }

  &__card-num {
    position: relative;

    @media (max-width: ($screen-sm - 1px)) {
      flex: 0 0 auto;
      width: 2.25rem;
      max-width: 100%;
    }

    @media (min-width: $screen-sm) {
      padding-top: 1.5rem;
    }

    span {
      position: relative;
      display: block;

      &::before {
        position: relative;
        font-family: $font-f--num;
        font-size: ms(3);
        font-weight: 700;
        line-height: 1em;
        content: counter(works, decimal-leading-zero);

        @media (min-width: $screen-md) {
          font-size: ms(5);
        }
      }
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.75s $transition-t 0.25s;
    }
  }

  &__card-content {

    @media (max-width: ($screen-sm - 1px)) {
      flex: 1 0 0%;
      width: 100%;
      max-width: 100%;
    }

    @media (min-width: $screen-sm) {
      margin-top: auto;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.75s $transition-t 0.5s;
    }
  }

  &__card-title {
    max-width: 45ch;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: $font-f--head;
    font-size: ms(1);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: -0.01em;
  }

  &__card-desc {
    max-width: 70ch;
    margin-bottom: 0.75rem;
    font-size: ms(-1);
    line-height: 1.45em;
    opacity: 0.5;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__card-date {
    font-size: 0.6em;
    line-height: 1.4em;

    &::before {
      position: relative;
      display: inline-block;
      margin-right: 0.25rem;
      content: '/';
    }
  }
}
