.seo {
  @include s-basic;

  &::before {
    position: absolute;
    right: 1rem;
    bottom: 100%;
    left: 1rem;
    max-width: 1380px;
    height: 1px;
    margin: 0 auto;
    content: '';
    background-color: currentColor;

    @media (min-width: $screen-sm) {
      right: 1.5rem;
      left: 1.5rem;
    }
  }

  &__container {
    @include container;
  }

  &__intro {

    .has-scroll-init & {
      opacity: 0;
      transition: 0.75s $transition-t 0.4s;
    }

    &.is-inview {
      opacity: 1;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }

  &__content {

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 0 0.75rem;
      grid-template: 'main-text . accent-text' / 7fr 1fr 4fr;
    }
  }

  &__main-text {
    font-size: 0.8em;
    line-height: 1.45em;

    @media (min-width: $screen-sm) {
      grid-area: main-text;
      font-size: 0.9em;
      line-height: 1.5em;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.75s $transition-t 0.5s;
    }

    &.is-inview {
      opacity: 1;
    }
  }

  &__accent-text {
    margin-top: 1.5rem;
    font-size: ms(1);
    font-weight: 600;
    line-height: 1.2em;
    opacity: 0;
    transition: 0.75s $transition-t 0.6s;

    @media (min-width: $screen-sm) {
      grid-area: accent-text;
      margin-top: 0;
    }

    &.is-inview {
      opacity: 1;
    }
  }
}
