mixin seo()

  section.seo(data-scroll-section)
    .seo__container
      .seo__intro(data-scroll)
        span.seo__subtitle SEO
        h2.seo__title Vivens mortua sunt apud nos night of the living dead
      .seo__content
        .seo__main-text(data-scroll)
          p Whyt zomby Ut fames after death cerebro virus enim carnis grusome, viscera et organa viventium. Sicut spargit virus ad impetum, qui supersumus flesh eating. Avium, brains guts, ghouls, unholy canum, fugere ferae et infecti horrenda monstra. Videmus twenty-eight deformis pale, horrenda daemonum. Panduntur brains portae rotting inferi. Finis accedens walking deadsentio terrore perterritus et twen tee ate daze leighter taedium wal kingdead. The horror, monstra epidemic significant finem. Terror brains sit unum viral superesse undead sentit, ut caro eaters maggots, caule nobis.
        .seo__accent-text(data-scroll)
          p Terror brains sit unum viral superesse undead sentit, ut caro eaters maggots, caule nobis