.team {
  @include s-basic;

  &__container {
    @include container;
  }

  &__header {
    margin-bottom: 2.25rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 3.75rem;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.5s $transition-t 0.125s;
    }

    &.is-inview {
      opacity: 1;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin: 0;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 3rem 0.75rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 4.5rem 0.75rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;

    .has-scroll-init & {

      @for $i from 1 to 6 {

        &:nth-child(#{$i}) {

          .team-card__media::before {
            transition-delay: 0.45s + ($i * 0.05s);
          }
        }
      }
    }
  }
}
