.cases {
  @include s-basic;

  &__container {
    @include container;
  }

  &__header {
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.5s $transition-t 0.125s;
    }

    &.is-inview {
      opacity: 1;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin: 0;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: cases;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 2.25rem 0.75rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      gap: 2.25rem 0.75rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    position: relative;
    padding: 0;
    padding-top: 1.5rem;
    margin: 0;
    counter-increment: cases;

    @media (min-width: $screen-sm) {
      padding-top: 2.25rem;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
    }

    &::after {
      position: absolute;
      top: 0.75rem;
      left: 0;
      font-size: ms(-2);
      font-weight: 600;
      line-height: 1.4em;
      letter-spacing: 0.05em;
      content: counter(cases, decimal-leading-zero);
      opacity: 0.5;
    }

    .has-scroll-init & {

      &::before {
        transition: transform 0.75s $transition-t--faster;
        transform: scaleX(0);
        transform-origin: left center;
      }

      @for $i from 1 to 5 {

        &:nth-child(#{$i}) {

          &::before {
            transition-delay: 0.2s + ($i * 0.05s);
          }

          .cases__item-title,
          .cases__item-desc {
            transition-delay: 0.3s + ($i * 0.05s);
          }
        }
      }
    }

    &.is-inview {

      &::before {
        transform: scaleX(1);
      }

      .cases__item-title,
      .cases__item-desc {
        opacity: 1;
      }
    }
  }

  &__item-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: $font-f--head;
    font-size: ms(1);
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-bottom: 0.75rem;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.75s $transition-t 0.25s;
    }
  }

  &__item-desc {
    font-size: ms(-1);
    line-height: 1.45em;
    opacity: 0.75;

    .has-scroll-init & {
      opacity: 0;
      transition: 0.75s $transition-t 0.25s;
    }
  }
}
