.field-text {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 2.25rem;

  @media (min-width: $screen-sm) {
    margin-bottom: 1.5rem;
  }

  &__title {
    display: block;
    font-size: ms(-2);
    font-weight: 500;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.5;
  }

  &__input-wrap {
    position: relative;
    display: block;
  }

  &__input {
    display: inline-block;
    width: 100%;
    min-height: 2.5rem;
    padding: 0.75rem 0;
    margin: 0;
    font-family: $font-f;
    font-size: ms(-1);
    line-height: 1.45em;
    color: currentColor;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid currentColor;
    border-radius: 0;

    @media (min-width: $screen-sm) {
      border: none;
    }

    &:focus {
      border-color: $primary-c;
      outline: none;
    }

    &::placeholder {
      font-family: $font-f;
      color: currentColor;
      opacity: 0.25;
    }

    @at-root textarea#{&} {
      height: auto;
      min-height: 7.5rem;
      padding: 0.75rem 1rem;
      margin-top: 0.75rem;
      resize: vertical;
      border: 1px solid currentColor;

      @media (min-width: $screen-sm) {
        min-height: 10rem;
        padding: 0.75rem 0;
        border: 0;
      }
    }
  }
}
