include ../blocks/btn/btn.pug
include ../blocks/featured-clients/featured-clients.pug
include ../blocks/featured-projects/featured-projects.pug
include ../blocks/feedback-card/feedback-card.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-rating/field-rating.pug
include ../blocks/field-search/field-search.pug
include ../blocks/field-submit/field-submit.pug
include ../blocks/field-text/field-text.pug
include ../blocks/form/form.pug
include ../blocks/get-a-call/get-a-call.pug
include ../blocks/get-in-touch/get-in-touch.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/more/more.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/project-card/project-card.pug
include ../blocks/seo/seo.pug
include ../blocks/service-card/service-card.pug
include ../blocks/showreel/showreel.pug
include ../blocks/slider-navigation/slider-navigation.pug
include ../blocks/slider-progressbar/slider-progressbar.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/team-card/team-card.pug
