.field-radio {
  $block-name: &;
  display: block;

  &__wrap {
    padding: 1rem 0;
    border-top: 1px solid $border-c;

    &:last-child {
      border-bottom: 1px solid $border-c;
    }

    @media (min-width: $screen-md) {
      padding: 1.5rem 0;
    }
  }

  &__label {
    position: relative;
    display: flex;
    padding-left: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  &__text {
    display: inline-block;
    font-size: ms(-1);
    font-weight: 400;
    line-height: 1.45em;
    vertical-align: top;

    &:before {
      position: absolute;
      top: -1px;
      left: 0;
      width: 20px;
      height: 20px;
      content: '';
      border: 1px solid currentColor;
      border-radius: 20px;
      transition: 0.125s $transition-t;

      @at-root input:checked ~ & {
        border: 1px solid $primary-c;
      }
    }

    @at-root input:checked ~ & {
      opacity: 1;
    }

    @at-root input:focus ~ &:before {
      outline: 0;
      box-shadow: none;
    }

    &:after {
      position: absolute;
      top: 2px;
      left: 3px;
      width: 14px;
      height: 14px;
      content: '';
      background-color: $primary-c;
      border-radius: 50%;
      opacity: 0;
      transition: 0.125s $transition-t;

      @at-root input:checked~& {
        opacity: 1;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}
