mixin more()

  a.more(href='/')
    svg.more__icon(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 50 50', width='50', height='50')
      circle.more__out(cx='25', cy='25', r='24.5', stroke='#16191C', opacity='.125')
      circle.more__in(cx='25', cy='25', r='24.5', stroke='#16191C')
      g.more__dots.more__dots--first-group
        circle(cx='32', cy='25', r='2', fill='#16191C')
        circle(cx='25', cy='25', r='2', fill='#16191C')
        circle(cx='18', cy='25', r='2', fill='#16191C')
      g.more__dots.more__dots--second-group
        circle(cx='32', cy='25', r='2', fill='#16191C')
        circle(cx='25', cy='25', r='2', fill='#16191C')
        circle(cx='18', cy='25', r='2', fill='#16191C')
