.services {
  @include s-basic;

  &__container {
    @include container;
  }

  &__header {
    position: relative;
    opacity: 0;
    transition: 0.75s $transition-t 0.25s;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 20vw;
      height: 20vw;
      content: '';
      background-color: $accent-c;
      border-radius: 20vw;
      transform: translate3d(-25%, -25%, 0);
    }

    .has-scroll-init & {

      &::before {
        opacity: 0;
        transition: 0.75s $transition-t 0.5s;
        transform: translate3d(-25%, -25%, 0) scale(0);
      }
    }

    &.is-inview {
      opacity: 1;

      &::before {
        opacity: 1;
        transform: translate3d(-40%, -40%, 0) scale(1);
      }
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 0 0.75rem;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;

    @media (max-width: ($screen-sm - 1px)) {

      &:not(:last-child) {
        margin-bottom: 2.25rem;
      }
    }

    &--first {

      @media (min-width: $screen-sm) {
        grid-column: 1 / span 6;
      }

      .service-card__media::before {
        transition-delay: 0.4s;
      }
    }

    &--second {

      @media (min-width: $screen-sm) {
        grid-column: 9 / span 4;
      }

      .service-card__media::before {
        transition-delay: 0.45s;
      }
    }

    &--third {

      @media (min-width: $screen-sm) {
        grid-column: 1 / span 5;
      }

      .service-card__media::before {
        transition-delay: 0.5s;
      }
    }

    &--fourth {

      @media (min-width: $screen-sm) {
        grid-column: 7 / span 6;
        align-self: end;
      }

      .service-card__media::before {
        transition-delay: 0.55s;
      }
    }
  }
}
