mixin featured-projects(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' featured-projects--' + modsList[i].trim();
      }
    }

  section.featured-projects(class=allMods, data-scroll-section)&attributes(attributes)
    .featured-projects__container
      +slider-progressbar().featured-projects__slider-progressbar

      .featured-projects__header
        .featured-projects__header-left-side
          span.featured-projects__subtitle Портфолио
          h2.featured-projects__title Избранные проекты
        .featured-projects__header-right-side
          +more()
          +slider-navigation().featured-projects__slider-navigation

      .featured-projects__slider
        .swiper-wrapper
          .swiper-slide
            +project-card({
              media: 'https://images.unsplash.com/photo-1606372628524-8ddc21e8c453?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80',
              title: 'Summus brains sit',
              desc: 'Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens.',
              date: 'April'
            })
          .swiper-slide
            +project-card({
              media: 'https://images.unsplash.com/photo-1606629201546-feb07b78e198?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80',
              title: 'Qui animated corpse',
              desc: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.',
              date: 'March'
            })
          .swiper-slide
            +project-card({
              media: 'https://images.unsplash.com/photo-1602479809760-4cfe8c974107?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80',
              title: 'Nescio brains an Undead zombies',
              desc: 'Sicut de grave feeding iride et serpens.',
              date: 'Dec, 2020'
            })
          .swiper-slide
            +project-card({
              media: 'https://images.unsplash.com/photo-1606372628524-8ddc21e8c453?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80',
              title: 'Summus brains sit',
              desc: 'Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens.',
              date: 'April'
            })
          .swiper-slide
            +project-card({
              media: 'https://images.unsplash.com/photo-1606629201546-feb07b78e198?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80',
              title: 'Qui animated corpse',
              desc: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.',
              date: 'March'
            })
          .swiper-slide
            +project-card({
              media: 'https://images.unsplash.com/photo-1602479809760-4cfe8c974107?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80',
              title: 'Nescio brains an Undead zombies',
              desc: 'Sicut de grave feeding iride et serpens.',
              date: 'Dec, 2020'
            })
