.featured-projects {
  @include s-basic;
  overflow: hidden;

  &__container {
    @include container;
  }

  &__header {
    display: grid;
    gap: 0 0.75rem;
    grid-template: 'left-side right-side' / 1fr auto;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }

  &__header-left-side {
    grid-area: left-side;
    padding-right: 1.5rem;
  }

  &__header-right-side {
    display: flex;
    grid-area: right-side;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: end;
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin: 0;
  }

  &__slider {

    .swiper-slide:nth-child(1) {

      .project-card__media::before {
        transition-delay: 0.25s;
      }
    }

    .swiper-slide:nth-child(2) {

      .project-card__media::before {
        transition-delay: 0.3s;
      }
    }

    .swiper-slide:nth-child(3) {

      .project-card__media::before {
        transition-delay: 0.35s;
      }
    }
  }

  &__slider-progressbar {
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }

  &__slider-navigation {

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }
  }
}
