extends ../pug/layout.pug

block meta
  - var title = 'About';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content

  section.about(data-scroll-section)
    .about__container
      h1.about__title De carne lumbering animata corpora quaeritis
      .about__block.about__block--about-us
        .about__block-inner
          span.about__subtitle О нас
          .about__text
            p Cavaliers CGI Studio была основана в 2019 году в Москве и объединяет команду профессионалов в сфере компьютерной графики. Студия организует и контролирует весь цикл производства графических роликов — от разработки концепции до медиа-сопровождения готового продукта.
      .about__block.about__block--advantages
        .about__block-inner
          span.about__subtitle Advantages
          .about__text
            p De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium



  section.team(data-scroll-section)
    .team__container
      .team__header(data-scroll)
        span.team__subtitle Команда
        h2.team__title Zombie ipsum reversus ab viral inferno Moveri
      ul.team__list
        li.team__item
          +team-card({
            media: 'https://images.unsplash.com/photo-1621207898209-574e96d26286?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=581&q=80'
          })
        li.team__item
          +team-card({
            media: 'https://images.unsplash.com/photo-1586981546468-a132558aeb9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80'
          })
        li.team__item
          +team-card({
            media: 'https://images.unsplash.com/photo-1619667630839-c5f899af401b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80'
          })
        li.team__item
          +team-card({
            media: 'https://images.unsplash.com/photo-1613506354429-c11b4409af50?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80'
          })
        li.team__item
          +team-card({
            media: 'https://images.unsplash.com/photo-1611078860487-004d94d732da?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=716&q=80'
          })



  section.clients(data-scroll-section)
    .clients__container
      .clients__header(data-scroll)
        span.clients__subtitle Клиенты
        h2.clients__title The horror, monstra epidemic significant finem
      .clients__list-wrap(data-scroll)
        ul.clients__list
          li.clients__item
            img(src='img/logoipsum-1.svg', alt='', width='200', height='100')
          li.clients__item
            img(src='img/logoipsum-2.svg', alt='', width='200', height='100')
          li.clients__item
            img(src='img/logoipsum-3.svg', alt='', width='200', height='100')
          li.clients__item
            img(src='img/logoipsum-4.svg', alt='', width='200', height='100')
          li.clients__item
            img(src='img/logoipsum-1.svg', alt='', width='200', height='100')
          li.clients__item
            img(src='img/logoipsum-2.svg', alt='', width='200', height='100')
          li.clients__item
            img(src='img/logoipsum-3.svg', alt='', width='200', height='100')
          li.clients__item
            img(src='img/logoipsum-4.svg', alt='', width='200', height='100')
          li.clients__item
            img(src='img/logoipsum-1.svg', alt='', width='200', height='100')
          li.clients__item
            img(src='img/logoipsum-2.svg', alt='', width='200', height='100')