extends ../pug/layout-dark.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block header
  +page-header('dark')

block content
  .contacts(data-scroll-section)
    .contacts__container
      h1.contacts__title Контакты

      section.contacts__block
        .contacts__block-intro
          h2.contacts__block-title Связаться

        .contacts__block-info.contacts__block-info--contacts
          .contacts__phone
            a.contacts__link(href='tel:+79266543892', data-title='+7 (926) 654-38-92')
              span +7 (926) 654-38-92
          ul.contacts__messangers
            li.contacts__messanger
              a.contacts__messanger-link(href='https://telegram.me/account-name', target='_blank', rel='noopener')
                | Telegram
                +svg-icon('arrow', 10, 10)
            li.contacts__messanger
              a.contacts__messanger-link(href='https://wa.me/79999999999', target='_blank', rel='noopener')
                | Whatsapp
                +svg-icon('arrow', 10, 10)

      section.contacts__block
        .contacts__block-intro
          h2.contacts__block-title E-mails

        .contacts__block-info
          ul.contacts__e-mails
            li.contacts__e-mail
              a.contacts__link(href='mailto:hello@cavaliers.studio', data-title='hello@cavaliers.studio')
                span hello@cavaliers.studio
              span.contacts__e-mail-caption Для отправки ваших брифов
            li.contacts__e-mail
              a.contacts__link(href='mailto:work@cavaliers.studio', data-title='work@cavaliers.studio')
                span work@cavaliers.studio
              span.contacts__e-mail-caption Предложения по сотрудничеству

      section.contacts__block
        .contacts__block-intro
          h2.contacts__block-title Следите за нами

        .contacts__block-info
          ul.contacts__socials
            li.contacts__social
              a.contacts__link(href='/', target='_blank', rel='noopener', data-title='Behance')
                span Behance
            li.contacts__social
              a.contacts__link(href='/', target='_blank', rel='noopener', data-title='Instagram')
                span Instagram
            li.contacts__social
              a.contacts__link(href='/', target='_blank', rel='noopener', data-title='Facebook')
                span Facebook

      section.contacts__block.contacts__block--location
        .contacts__block-info
          .contacts__office-media(data-scroll)
            .contacts__office-media-wrap(data-scroll, data-scroll-speed='-1')
              img(src='https://images.unsplash.com/photo-1461782296610-c552d61b149a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2800&q=80', alt='')
        .contacts__block-intro
          h2.contacts__block-title Локация
          address.contacts__address Russia, Moscow

  section.questions(data-scroll-section)
    .questions__container
      .questions__header(data-scroll)
        span.questions__subtitle Вопросы
        h2.questions__title Если у вас появились вопросы, вы можете написать и мы ответим в ближайшее время
      +form().questions__form(data-scroll)
        .questions__form-left
          +field-text({
            title: 'Name',
            mods: '',
            val: '',
            attrs: {
              name: 'name',
              placeholder: 'Enter your name'
            }
          })
          +field-text({
            title: 'Phone',
            mods: '',
            val: '',
            attrs: {
              name: 'phone',
              placeholder: 'Your phone'
            }
          })
          +field-text({
            title: 'E-mail',
            mods: '',
            val: '',
            attrs: {
              name: 'e-mail',
              placeholder: 'Your e-mail'
            }
          })
        .questions__form-right
          +field-text({
            title: 'Message',
            mods: '',
            val: '',
            isTextarea: true,
            attrs: {
              name: 'e-mail',
              placeholder: 'Type something'
            }
          })
          +field-actions()
            +field-submit('Submit', 'dark')