extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  section.promo(data-scroll-section)
    .promo__container
      .promo__info
        h1.promo__title
          span.promo__title-inner.promo__title-inner--accent Cavaliers
          span.promo__title-inner CGI
          span.promo__title-inner Creative
          span.promo__title-inner studio
        .promo__intro
          p Наша студия организует и контролирует весь цикл производства графических роликов — от разработки концепции до медиа-сопровождения готового продукта.
        .promo__socials
          ul.promo__socials-list
            li.promo__socials-item
              a(href='/', target='_blank', rel='noopener') Instagram
            li.promo__socials-item
              a(href='/', target='_blank', rel='noopener') Facebook
            li.promo__socials-item
              a(href='/', target='_blank', rel='noopener') Alladvertising
            li.promo__socials-item
              a(href='/', target='_blank', rel='noopener') Behance
      .promo__video
        +showreel(true).promo__video-showreel
        .promo__video-caption
          span Лучшие работы студии в одном ролике
        .promo__video-cover
          .promo__video-cover-wrap(data-scroll, data-scroll-speed='-1')
            img(src='https://images.unsplash.com/photo-1564296787019-78c9b13c9b22?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80', alt='')



  section.services(data-scroll-section)
    .services__container
      .services__header(data-scroll)
        span.services__subtitle Услуги
        h2.services__title Zombie ipsum reversus ab viral inferno Moveri
      ul.services__list
        li.services__item.services__item--first
          +service-card({
            count: '01',
            title: 'Broadcast design',
            media: 'https://p-lux2.pcloud.com/DLZ8ncUn1ZxbngRPZEH5wZ7ZxvHjv7ZNVZZYSZXZo8S7ZkHZZZJSAcrDC0EGyO6l0MII1sykl4NQHy/th-31424504815-1440x810.jpg',
            mods: 'broadcast'
          })
        li.services__item.services__item--second
          +service-card({
            count: '02',
            title: 'Корпоративные и презентационные фильмы',
            media: 'https://p-lux3.pcloud.com/DLZFDcUn1ZqbngRPZEH5wZ7ZqvHjv7ZNVZZYSZXZMIOZLFZZZ7eHIA0URTr8MMbT86IixbVju3Pzy/th-31424504820-1440x810.jpg',
            mods: 'movies'
          })
        li.services__item.services__item--third
          +service-card({
            count: '03',
            title: 'Создание B2B-инфографики для сложных продуктов и IT-систем',
            media: 'https://p-lux4.pcloud.com/DLZCDcUn1ZXsngRPZEH5wZ7ZTvHjv7ZNVZZYSZXZmEP7ZV7ZZZy0KFfnNwKhB2D4TkU2lKMmoe0iEy/th-31424505328-1440x810.jpg',
            mods: 'b2b'
          })
        li.services__item.services__item--fourth
          +service-card({
            count: '04',
            title: '3D-графика и анимация для рекламных роликов',
            media: 'https://p-lux3.pcloud.com/DLZuBcUn1ZnbngRPZEH5wZ7ZevHjv7ZNVZZYSZXZzFxZjkZZZMtIrfflOybmpupRr9HAlMR98qVGy/th-31424504808-1432x600.jpg',
            mods: '3d'
          })



  .process(data-scroll-section)

    section.questions(data-scroll)
      .questions__container
        .questions__header(data-scroll)
          span.questions__subtitle Вопросы
          h2.questions__title Если у вас появились вопросы, вы можете написать и мы ответим в ближайшее время
        +form().questions__form(data-scroll)
          .questions__form-left
            +field-text({
              title: 'Name',
              mods: '',
              val: '',
              attrs: {
                name: 'name',
                placeholder: 'Enter your name'
              }
            })
            +field-text({
              title: 'Phone',
              mods: '',
              val: '',
              attrs: {
                name: 'phone',
                placeholder: 'Your phone'
              }
            })
            +field-text({
              title: 'E-mail',
              mods: '',
              val: '',
              attrs: {
                name: 'e-mail',
                placeholder: 'Your e-mail'
              }
            })
          .questions__form-right
            +field-text({
              title: 'Message',
              mods: '',
              val: '',
              isTextarea: true,
              attrs: {
                name: 'e-mail',
                placeholder: 'Type something'
              }
            })
            +field-actions()
              +field-submit('Submit', 'dark')

    .banner(data-scroll)
      .banner__container
        .banner__media
          .banner__media-wrap(data-scroll, data-scroll-speed='-2')
            img(src='https://images.unsplash.com/photo-1608568746185-78f659ce0752?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2851&q=80', alt='')

    .work-stages(data-scroll)
      .work-stages__container
        .work-stages__header(data-scroll)
          span.work-stages__subtitle Этапы работ
          h2.work-stages__title De apocalypsi gorger omero undead survivor dictum mauris
        ul.work-stages__list

          mixin work-stage(props)

            -
              if (typeof(props) === 'undefined') { var props = {};}

              var allMods = '';
              if (typeof(props.mods) !== 'undefined' && props.mods) {
                var modsList = props.mods.split(',');
                for (var i = 0; i < modsList.length; i++) {
                  allMods = allMods + ' work-stages__item--' + modsList[i].trim();
                }
              }

            li.work-stages__item(class=allMods, data-scroll)&attributes(attributes)
              .work-stages__item-arrow.work-stages__item-arrow--prev
                +svg-icon('arrow', 10, 10)
              .work-stages__item-num(data-scroll)
                span
              dl.work-stages__item-info(data-scroll)
                dt.work-stages__item-term!= props.title
                dd.work-stages__item-desc The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.
              .work-stages__item-arrow.work-stages__item-arrow--next
                +svg-icon('arrow', 10, 10)

          +work-stage({
            title: 'Nescio brains an Undead zombies',
            mods: 'first'
          })
          +work-stage({
            title: 'Animated corpse',
            mods: 'second'
          })
          +work-stage({
            title: 'Voodoo sacerdos flesh eater',
            mods: 'third'
          })
          +work-stage({
            title: 'The unleashed virus est',
            mods: 'fourh'
          })
          +work-stage({
            title: 'Souless mortuum glassy-eyed oculos',
            mods: 'fifth'
          })
          +work-stage({
            title: 'An hoc dead now braaaiiiins',
            mods: 'sixth'
          })

  +featured-projects
  +featured-clients
  +seo