extends ../pug/layout.pug

block meta
  - var title = 'Service';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  section.service(data-scroll-section)
    .service__container
      h1.service__title Создание B2B-инфографики для сложных продуктов и IT-систем
      .service__media
        .service__media-wrap(data-scroll, data-scroll-speed='-2')
          img(src='https://images.unsplash.com/photo-1564296787019-78c9b13c9b22?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80', alt='')
      .service__desc-wrap
        .service__desc
          span.service__subtitle Описание
          .service__text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.

  section.cases(data-scroll-section)
    .cases__container
      .cases__header(data-scroll)
        span.cases__subtitle Subtitle
        h2.cases__title В каких случаях  нужно создание B2B-инфографики для сложных продуктов и IT-систем?
      ul.cases__list

        mixin case-item(props)

          -
            if (typeof(props) === 'undefined') { var props = {}; }

            var allMods = '';
            if (typeof(props.mods) !== 'undefined' && props.mods) {
              var modsList = props.mods.split(',');
              for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' cases__item--' + modsList[i].trim();
              }
            }

          li.cases__item(class=allMods, data-scroll)&attributes(attributes)
            h3.cases__item-title!= props.title
            .cases__item-desc
              p!= props.desc

        +case-item({
          title: 'Zombie ipsum reversus',
          desc: 'De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. '
        })
        +case-item({
          title: 'The unleashed virus est',
          desc: 'Lucio fulci tremor est dark vivos magna. Expansis creepy arm yof darkness ulnis witchcraft missing carnem armis Kirkman.'
        })
        +case-item({
          title: 'An hoc dead sow braaaiiiins sociopathic incipere',
          desc: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. '
        })
        +case-item({
          title: 'Zombie ipsum reversus',
          desc: 'Aenean a dolor plan et terror soulless vulnerum contagium accedunt, mortui iam vivam unlife.'
        })

  +featured-projects
  +seo