extends ../pug/layout.pug

block meta
  - var title = 'Works';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  section.works(data-scroll-section)
    .works__container
      h1.works__title Works
      .works__nav
        ul.works__nav-list
          li.works__nav-item
            span All
          li.works__nav-item
            a(href='') Animation
          li.works__nav-item
            a(href='') Movies
          li.works__nav-item
            a(href='') Infographic
          li.works__nav-item
            a(href='') Broadcast
      ul.works__list
        li.works__item
          .works__card
            a.works__card-media.is-inview(href='/', data-scroll)
              .works__card-media-wrap
                img(src='https://images.unsplash.com/photo-1620880762296-f9787c134352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1651&q=80', alt='')
            .works__card-info.is-inview(data-scroll)
              .works__card-num
                span
              .works__card-content
                h3.works__card-title Summus brains sit
                .works__card-desc
                  p Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens.
                .works__card-date April
        li.works__item
          .works__card
            a.works__card-media(href='/', data-scroll)
              .works__card-media-wrap
                img(src='https://images.unsplash.com/photo-1619342802099-027bc73e30eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80', alt='')
            .works__card-info(data-scroll)
              .works__card-num
                span
              .works__card-content
                h3.works__card-title Summus brains sit
                .works__card-desc
                  p Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens.
                .works__card-date April
        li.works__item
          .works__card
            a.works__card-media(href='/', data-scroll)
              .works__card-media-wrap
                img(src='https://images.unsplash.com/photo-1619075120064-714d03cd734e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80', alt='')
            .works__card-info(data-scroll)
              .works__card-num
                span
              .works__card-content
                h3.works__card-title Summus brains sit
                .works__card-desc
                  p Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens.
                .works__card-date April
        li.works__item
          .works__card
            a.works__card-media(href='/', data-scroll)
              .works__card-media-wrap
                img(src='https://images.unsplash.com/photo-1610523978061-d062a8fcf13b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1651&q=80', alt='')
            .works__card-info(data-scroll)
              .works__card-num
                span
              .works__card-content
                h3.works__card-title Summus brains sit
                .works__card-desc
                  p Cum horribilem walking dead resurgere de crazed sepulcris creaturis, zombie sicut de grave feeding iride et serpens.
                .works__card-date April

  section.other-works(data-scroll-section)
    .other-works__container
      .other-works__inner(data-scroll)
        .other-works__intro(data-scroll)
          h2.other-works__title
            | Больше
            br
            | проектов
        .other-works__list-wrap(data-scroll)

          .other-works__list-headings
            span.other-works__list-heading.other-works__list-heading--year Year
            span.other-works__list-heading.other-works__list-heading--name Name
            span.other-works__list-heading.other-works__list-heading--expertise Expertise

          ul.other-works__list

            mixin works-item(props)

              -
                if (typeof(props) === 'undefined') { var props = {};}

                var allMods = '';
                if (typeof(props.mods) !== 'undefined' && props.mods) {
                  var modsList = props.mods.split(',');
                  for (var i = 0; i < modsList.length; i++) {
                    allMods = allMods + ' other-works__item--' + modsList[i].trim();
                  }
                }

              li.other-works__item(class=allMods, data-scroll)&attributes(attributes)
                a.other-works__item-link(href='/')
                  .other-works__year!= props.year
                  .other-works__name!= props.name
                  .other-works__expertise!= props.expertise
                  .other-works__arrow
                    +svg-icon('arrow', 12, 10)

            +works-item({
              year: '2021',
              name: 'Qui animated corpse',
              expertise: 'Branding'
            })
            +works-item({
              year: '2021',
              name: 'De apocalypsi gorger omero',
              expertise: 'Design'
            })
            +works-item({
              year: '2020',
              name: 'Hi mindless',
              expertise: 'Commercials'
            })
            +works-item({
              year: '2021',
              name: 'Qui animated corpse',
              expertise: 'Branding'
            })
            +works-item({
              year: '2021',
              name: 'De apocalypsi gorger omero',
              expertise: 'Design'
            })
            +works-item({
              year: '2020',
              name: 'Hi mindless',
              expertise: 'Commercials'
            })



  +featured-clients