extends ../pug/layout.pug

block meta
  - var title = 'Work';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  .work(data-scroll-section)
    .work__container
      h1.work__title Project name

      section.work__block.work__block--video.is-inview(data-scroll)
        .work__block-intro
          h2.work__block-title Видео
        .work__block-info
          .work__video
            +showreel().work__video-showreel
            .work__video-cover
              .work__video-cover-wrap(data-scroll, data-scroll-speed='-1')
                img(src='https://images.unsplash.com/photo-1564296787019-78c9b13c9b22?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80', alt='')

      section.work__block.work__block--desc(data-scroll)
        .work__block-intro
          h2.work__block-title Описание
        .work__block-info
          .work__text
            p Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
        .work__desc-defs
          dl.work__def-list
            .work__def-group
              dt.work__def-term Client
              dd.work__def-desc Apocalypsi gorger
            .work__def-group
              dt.work__def-term Spec
              dd.work__def-desc Qui animated corpse, cricket bat max brucks terribilem incessu zomby
            .work__def-group
              dt.work__def-term Complete
              dd.work__def-desc 2020

      section.work__block.work__block--tasks(data-scroll)
        .work__block-intro
          h2.work__block-title Задачи
        .work__block-info
          ul.work__tasks
            li.work__task Zonbi tattered for solum oculi eorum defunctis go lum cerebro.
            li.work__task Nescio brains an Undead zombies.
            li.work__task Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.

      section.work__block.work__block--results(data-scroll)
        .work__block-intro
          h2.work__block-title Результаты
        .work__block-info
          .work__text
            p The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.

      section.work__gallery(data-scroll)
        .work__gallery-header
          h2.work__block-title Галерея
          +slider-navigation().work__gallery-navigation
        .work__gallery-slider
          .swiper-wrapper
            .swiper-slide
              .work__gallery-thumb(data-scroll)
                .work__gallery-thumb-wrap
                  img(src='https://images.unsplash.com/photo-1565502233712-f0c4a3343877?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='', width='335', height='280')
            .swiper-slide
              .work__gallery-thumb(data-scroll)
                .work__gallery-thumb-wrap
                  img(src='https://images.unsplash.com/photo-1563724222085-f7b893022064?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='', width='335', height='280')
            .swiper-slide
              .work__gallery-thumb(data-scroll)
                .work__gallery-thumb-wrap
                  img(src='https://images.unsplash.com/photo-1564296786842-4fc88fb50485?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='', width='335', height='280')
            .swiper-slide
              .work__gallery-thumb(data-scroll)
                .work__gallery-thumb-wrap
                  img(src='https://images.unsplash.com/photo-1565502233712-f0c4a3343877?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='', width='335', height='280')
            .swiper-slide
              .work__gallery-thumb(data-scroll)
                .work__gallery-thumb-wrap
                  img(src='https://images.unsplash.com/photo-1563724222085-f7b893022064?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='', width='335', height='280')
            .swiper-slide
              .work__gallery-thumb(data-scroll)
                .work__gallery-thumb-wrap
                  img(src='https://images.unsplash.com/photo-1564296786842-4fc88fb50485?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='', width='335', height='280')