mixin logo(width, height, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' logo--' + modsList[i].trim();
      }
    }

  a.logo(class=allMods, href='index.html')&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 90 80', width=width, height=height)
      path(d='M52.6263 33.7387c.7588-2.9103 1.2979-5.8732 1.6129-8.864l1.944.7253c-.2753 3.0512-.7751 6.0781-1.4954 9.056l-2.0615-.9173zM68.8298 19.872s0 .928-.0855 1.376c-.4486 9.504-.8545 13.0667-1.8585 14.2827-.2462.3668-.5781.6682-.9671.8782-.3889.21-.8232.3223-1.2653.3271-1.1865.1126-2.381.1126-3.5675 0-.0681-1.0397-.3441-2.0552-.8118-2.9866 1.0106.114 2.0271.1674 3.0441.16.206.0237.4145-.0095.6029-.0961.1883-.0865.3493-.223.4653-.3946.3311-.4373.6515-1.6533.8972-4.2027l-1.1963.6507c-.4624-1.8399-1.1138-3.6272-1.944-5.3333l1.4954-.5654c.7109 1.3709 1.3075 2.7979 1.7837 4.2667.1175-1.4613.2457-3.2.3205-5.3334H54.4742V1.49333H68.253v2.99734h-4.6998v3.11467h3.92V10.56h-3.9093v3.2h3.92v2.9547h-3.92v3.2l5.2659-.0427zm-10.0831 5.4507c.3938 2.4334.5867 4.895.5768 7.36l-1.7838.2453c.0794-2.4761-.0708-4.9542-.4486-7.4026l1.6556-.2027zM57.3581 4.49067v3.11467h3.3646V4.49067h-3.3646zM60.7227 10.56h-3.3646v3.2h3.3646v-3.2zm-3.3646 9.344h3.3646v-3.2h-3.3646v3.2zm3.5248 11.776c-.2225-2.2085-.6553-4.3908-1.2924-6.5173l1.6129-.288c.7021 2.0739 1.1644 4.2212 1.3778 6.4l-1.6983.4053zm29.085-12.5867H87.586v14.0374c0 1.7813-.3739 2.7093-1.6663 3.2-1.2924.4907-3.2044.64-5.9174.64-.2612-1.1844-.712-2.319-1.3351-3.36 2.0294.0853 4.0161.0853 4.5822.0853.5661 0 .7691-.2026.7691-.6826V19.0933H69.0647v-3.2h20.9352l-.032 3.2zm-3.2044-3.6373c-2.3812-1.7766-4.8557-3.4252-7.4127-4.9387-1.4954 2.3467-3.9735 3.968-8.0216 5.1414-.4531-1.017-1.0987-1.937-1.9013-2.7094 4.6891-1.216 6.8787-3.19996 7.8934-6.15463h-7.0816V3.68h7.7866c.1175-1.06666.235-2.34667.2777-3.68h3.4394c-.0748 1.29067-.1603 2.54934-.2778 3.68h7.6585v3.11467h-8.2246c-.0854.32-.2029.69334-.2884 1.06667 2.7985 1.536 6.4835 3.72266 8.4703 5.14136l-2.3179 2.4533zm-12.262 15.168v2.5494h-2.9374V21.3333h9.72v9.3441l-6.7826-.0534zm0-6.592v3.84h3.8879v-3.84h-3.8879z')
      path(d='M89.4871 65.6324v3.52H53.1069v-3.52h6.8894V45.3657c8.0964-.4054 17.5386-1.2054 23.4132-2.4214l2.0401 3.4667c-7.1286 1.2033-14.3293 1.9338-21.5546 2.1867v5.0986h23.4986v3.5201h-6.9855v8.416h9.079zM68.2208 72.267c-3.7699 3.0538-7.8897 5.6498-12.2727 7.7334-.8158-1.0162-1.7124-1.9651-2.681-2.8374 4.1972-1.7854 8.081-4.2306 11.5037-7.2426l3.45 2.3466zm-4.3792-6.6346h12.7213v-8.416H63.8416v8.416zm13.4476 4.4053c4.06 2.0674 7.9843 4.3903 11.7493 6.9547l-3.0014 2.88c-3.6611-2.7236-7.5166-5.1763-11.5357-7.3387l2.7878-2.496z')
      path(d='M22.4306 49.1941c-3.9955.0026-7.9497-.8065-11.6221-2.378-3.67249-1.5715-6.98646-3.8726-9.74038-6.7634H0l11.1939 19.36 11.2367 19.3601 11.1512-19.3601 11.1939-19.36h-.9827c-2.7539 2.8908-6.0679 5.1919-9.7404 6.7634-3.6724 1.5715-7.6266 2.3806-11.622 2.378z')
      path(fill='#33FC58', d='M22.3878 39.8821c10.7068 0 19.3864-8.6677 19.3864-19.36 0-10.69222-8.6796-19.35999-19.3864-19.35999-10.7069 0-19.38646 8.66777-19.38646 19.35999 0 10.6923 8.67956 19.36 19.38646 19.36z')
