mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods, data-scroll-section)&attributes(attributes)
    .page-footer__wrap(data-scroll, data-scroll-speed='-5', data-scroll-target='.page-footer', data-scroll-position='bottom')
      .page-footer__container

        .page-footer__nav
          ul.page-footer__nav-list
            li.page-footer__nav-item.page-footer__nav-item--services(data-num='4')
              a.page-footer__nav-link(href='/', data-title='Услуги')
                span Услуги
            li.page-footer__nav-item.page-footer__nav-item--works(data-num='98')
              a.page-footer__nav-link(href='works.html', data-title='Портфолио')
                span Портфолио
            li.page-footer__nav-item.page-footer__nav-item--about
              a.page-footer__nav-link(href='about.html', data-title='О нас')
                span О нас
            li.page-footer__nav-item.page-footer__nav-item--contacts
              a.page-footer__nav-link(href='contacts.html', data-title='Контакты')
                span Контакты

        .page-footer__contacts
          ul.page-footer__contacts-list
            li.page-footer__contacts-item
              a.page-footer__contacts-link(href='tel:+79266543892')
                | +7 (926) 654-38-92
            li.page-footer__contacts-item
              a.page-footer__contacts-link(href='mailto:hello@cavaliers.studio')
                | hello@cavaliers.studio
            li.page-footer__contacts-item.page-footer__contacts-item--telegram
              a.page-footer__contacts-link(href='https://telegram.me/account-name', target='_blank', rel='noopener')
                | Telegram
                +svg-icon('arrow', 10, 10)
            li.page-footer__contacts-item.page-footer__contacts-item--whatsapp
              a.page-footer__contacts-link(href='https://wa.me/79999999999', target='_blank', rel='noopener')
                | Whatsapp
                +svg-icon('arrow', 11, 10)
          .page-footer__get-a-call-wrap
            +get-a-call()
          .page-footer__logo-wrap
            +logo('90', '80').page-footer__logo

        .page-footer__socials
          ul.page-footer__socials-list
            li.page-footer__socials-item
              a.page-footer__socials-link(href='', target='_blank', rel='noopener')
                +svg-icon('instagram', 16, 16)
            li.page-footer__socials-item
              a.page-footer__socials-link(href='', target='_blank', rel='noopener')
                +svg-icon('facebook', 16, 16)
            li.page-footer__socials-item
              a.page-footer__socials-link(href='', target='_blank', rel='noopener')
                +svg-icon('alladvertising', 18, 13)
            li.page-footer__socials-item.page-footer__socials-item--behance
              a.page-footer__socials-link(href='', target='_blank', rel='noopener')
                +svg-icon('behance', 18, 12)

        .page-footer__privacy
          span.page-footer__caption
            | Креативная студия
            br
            | компьютерной
            br
            | графики
          span.page-footer__copyright © 2021 — Cavaliers.studio. All rights reserved.
