.page-footer {
  position: relative;
  z-index: 1;
  padding: 1.5rem 1rem;
  color: $c--shade;
  background-color: $c--dark;

  @media (min-width: $screen-sm) {
    padding: 3rem 1.5rem;
  }

  &__container {
    @include container;
    display: grid;
    grid-template:
      'nav nav'
      'contacts contacts'
      'socials privacy' / 1fr 1fr;
    gap: 3.75rem 0.75rem;

    @media (min-width: $screen-sm) {
      grid-template:
        'nav nav contacts'
        'socials . privacy' / 3fr 3fr 6fr;
      gap: 6rem 0.75rem;
    }

    @media (min-width: $screen-md) {
      grid-template:
        'nav nav . contacts'
        'socials . . privacy' / 2fr 2fr 2fr 6fr;
      gap: 9rem 0.75rem;
    }
  }

  &__nav {
    grid-area: nav;
  }

  &__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__nav-item {
    padding: 0;
    margin: 0;
    font-family: $font-f--head;
    font-size: ms(2);
    line-height: 1em;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      flex: 0 0 auto;
      width: 100%;
      max-width: 100%;
    }

    &--services {

      @media (min-width: $screen-sm) {
        order: -2;
        width: 50%;
      }
    }

    &--contacts {

      @media (min-width: $screen-sm) {
        order: -1;
        width: 50%;
      }
    }
  }

  &__nav-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: currentColor;
    text-decoration: none;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background-image: linear-gradient(90deg, $c--shade 50%, transparent 50.1%);
      background-position: 0 0;
      background-size: 300%;
      opacity: 0.25;
      transition: background 1.5s $transition-t;
    }

    &::after {
      position: absolute;
      left: 0;
      color: currentColor;
      content: attr(data-title);
      opacity: 0;
      transition:
        transform 0.75s $transition-t,
        opacity 0.25s $transition-t;
      transform: translateY(125%);
      will-change: transform;
    }

    span {
      display: inline-block;
      opacity: 1;
      transition:
        transform 0.75s $transition-t,
        opacity 0.25s $transition-t;
      will-change: transform;
    }

    &:hover {

      &::before {
        background-position: -150% 0;
      }

      &::after {
        opacity: 1;
        transform: translateY(0);
      }

      span {
        opacity: 0;
        transform: translateY(-125%);
      }
    }
  }

  &__contacts {
    position: relative;
    display: grid;
    grid-area: contacts;
    grid-template:
      'contacts-list logo'
      'get-a-call logo' / 1fr auto;
    padding-top: 1rem;
    gap: 1.5rem 1rem;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: $c--shade;
    }

    @media (min-width: $screen-lg) {
      gap: 0 0.75rem;
      grid-template: 'contacts-list get-a-call logo' / 1fr 1fr auto;
    }
  }

  &__contacts-list {
    grid-area: contacts-list;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__contacts-item {
    padding: 0;
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: ms(-1);
    line-height: 1.45em;
    color: currentColor;
    text-transform: lowercase;

    &--telegram {
      margin-top: 1.5rem;

      @media (min-width: $screen-sm) {
        margin-top: 2.25rem;
      }
    }
  }

  &__contacts-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;

    &::before {
      position: absolute;
      top: -0.25em;
      right: -0.25em;
      bottom: -0.25em;
      left: -0.25em;
      content: '';
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
      transition: transform 0.5s $transition-t;
      transform: scaleX(0);
      transform-origin: center right;
    }

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;

      &::after {
        transform: scaleX(1);
        transform-origin: center left;
      }

      svg {
        transform: translate3d(0.125rem, -0.125rem, 0) rotate(-45deg);
      }
    }

    svg {
      display: block;
      margin-left: 0.5rem;
      transition: transform 0.5s $transition-t;
      transform: translate3d(0, 0, 0) rotate(-45deg);
      transform-origin: center;
    }
  }

  &__get-a-call-wrap {
    grid-area: get-a-call;

    @media (min-width: $screen-sm) {
      margin-left: -1.25rem;
    }
  }

  &__logo-wrap {
    grid-area: logo;
  }

  &__socials {
    display: flex;
    grid-area: socials;
    align-items: flex-start;
  }

  &__socials-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__socials-item {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &--behance {
      color: $accent-c;
    }
  }

  &__socials-link {
    position: relative;
    display: inline-block;
    color: currentColor;
    text-decoration: none;

    &::before {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
      content: '';
    }

    svg {
      display: block;
      fill: currentColor;
    }

    &:hover {
      color: $accent-c;
      transition: all 0.25s $transition-t;
    }
  }

  &__privacy {
    grid-area: privacy;
    align-self: end;
    text-align: right;

    @media (min-width: $screen-sm) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__caption {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 0.6em;
    line-height: 1.3em;
    opacity: 0.5;

    @media (min-width: $screen-sm) {
      margin: 0;
      text-align: left;
    }
  }

  &__copyright {
    display: block;
    font-size: 0.6em;
    line-height: 1.3em;
    opacity: 0.5;
  }
}
