.service {
  position: relative;
  z-index: 3;
  padding: 3.75rem 1rem 4.5rem;
  color: $c--dark;
  background-color: $c--shade;

  @media (min-width: $screen-sm) {
    padding: 7.5rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__title {
    max-width: 25ch;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: $font-f--head;
    font-size: ms(3);
    font-weight: 700;
    line-height: 0.9em;
    text-transform: uppercase;
    letter-spacing: -0.02em;

    @media (min-width: $screen-sm) {
      font-size: ms(4);
    }
  }

  &__media {
    position: relative;
    z-index: 1;
    margin-bottom: 2.25rem;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      margin-bottom: 3.75rem;
    }

    &::before {
      display: block;
      padding-bottom: (3 / 4) * 100%;
      content: '';

      @media (min-width: $screen-xs) {
        padding-bottom: (9 / 18) * 100%;
      }
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(1.1);
      object-fit: cover;
    }
  }

  &__desc-wrap {
    position: relative;

    &::before {
      position: absolute;
      top: -1px;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
    }

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template: '. desc .' / 2fr 5fr 5fr;
      gap: 0 0.75rem;
    }
  }

  &__desc {
    padding-top: 1.5rem;

    @media (min-width: $screen-sm) {
      position: relative;
      grid-area: desc;
      padding-top: 2.25rem;

      &::before {
        position: absolute;
        top: -2px;
        right: 0;
        left: 0;
        height: 3px;
        content: '';
        background-color: currentColor;
      }
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__text {
    font-size: 0.8em;
    line-height: 1.4em;
  }
}
