.showreel {
  display: block;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover {

    .showreel__in svg {
      transform: translate3d(0, 0, 0) scale(1.2);
    }

    .showreel__out svg {
      transform: translate3d(0, 0, 0) scale(0.9);
    }
  }

  &__in {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate3d(-45%, -50%, 0);
    fill: currentColor;

    svg {
      transition: transform 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  &__out {
    display: block;
    animation: rotateOut 10s linear infinite;
    fill: currentColor;

    svg {
      transition: transform 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  @keyframes rotateOut {

    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }
}
