.contacts {
  position: relative;
  z-index: 3;
  padding: 3.75rem 1rem 4.5rem;
  color: $c--shade;
  background-color: $c--dark;

  @media (min-width: $screen-sm) {
    padding: 7.5rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__title {
    max-width: 25ch;
    margin-top: 0;
    margin-bottom: 2.25rem;
    font-family: $font-f--head;
    font-size: ms(3);
    font-weight: 700;
    line-height: 0.9em;
    text-transform: uppercase;
    letter-spacing: -0.01em;

    @media (min-width: $screen-sm) {
      margin-bottom: 3.75rem;
      font-size: ms(4);
    }
  }

  &__block {
    position: relative;
    padding-top: 0.75rem;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template: 'intro info' / 3fr 9fr;
      padding-top: 2.25rem;
      gap: 0 0.75rem;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
    }

    &:not(:last-child) {
      margin-bottom: 3.75rem;
    }

    &--location {
      padding-top: 0;

      &::before {
        display: none;
      }

      @media (min-width: $screen-sm) {

        .contacts__block-intro {
          align-self: end;
        }
      }
    }
  }

  &__block-intro {
    margin-bottom: 0.75rem;

    @media (min-width: $screen-sm) {
      grid-area: intro;
      margin-bottom: 0;
    }
  }

  &__block-title {
    margin: 0;
    font-size: ms(-2);
    font-weight: 600;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.5;
  }

  &__block-info {

    @media (min-width: $screen-sm) {
      grid-area: info;
    }

    &--contacts {

      @media (min-width: $screen-sm) {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-family: $font-f--head;
    font-size: ms(2);
    line-height: 1em;
    color: currentColor;
    text-decoration: none;
    text-transform: uppercase;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background-image: linear-gradient(90deg, $c--shade 50%, transparent 50.1%);
      background-position: 0 0;
      background-size: 300%;
      opacity: 0.25;
      transition: background 1.5s $transition-t;
    }

    &::after {
      position: absolute;
      left: 0;
      color: currentColor;
      content: attr(data-title);
      opacity: 0;
      transition:
        transform 0.75s $transition-t,
        opacity 0.25s $transition-t;
      transform: translateY(125%);
      will-change: transform;
    }

    span {
      display: inline-block;
      opacity: 1;
      transition:
        transform 0.75s $transition-t,
        opacity 0.25s $transition-t;
      will-change: transform;
    }

    &:hover {

      &::before {
        background-position: -150% 0;
      }

      &::after {
        opacity: 1;
        transform: translateY(0);
      }

      span {
        opacity: 0;
        transform: translateY(-125%);
      }
    }
  }

  &__messangers {
    padding: 0;
    margin: 0;
    margin-top: 0.75rem;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 0.125rem;
      margin-top: 0;
    }
  }

  &__messanger {
    padding: 0;
    margin: 0;
    font-size: ms(-1);
    line-height: 1.45em;
    color: currentColor;
    text-transform: lowercase;

    @media (min-width: $screen-sm) {

      &:not(:last-child) {
        margin-right: 2.25rem;
      }
    }
  }

  &__messanger-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;

    &::before {
      position: absolute;
      top: -0.25em;
      right: -0.25em;
      bottom: -0.25em;
      left: -0.25em;
      content: '';
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
      transition: transform 0.5s $transition-t;
      transform: scaleX(0);
      transform-origin: center right;
    }

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;

      &::after {
        transform: scaleX(1);
        transform-origin: center left;
      }

      svg {
        transform: translate3d(0.125rem, -0.125rem, 0) rotate(-45deg);
      }
    }

    svg {
      display: block;
      margin-left: 0.5rem;
      transition: transform 0.5s $transition-t;
      transform: translate3d(0, 0, 0) rotate(-45deg);
      transform-origin: center;
    }
  }

  &__e-mails {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__e-mail {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__e-mail-caption {
    display: block;
    font-size: ms(-1);
    line-height: 1.45em;
    opacity: 0.5;

    &::before {
      position: relative;
      display: inline-block;
      margin-right: 0.5rem;
      content: '/';
    }

    @media (min-width: $screen-sm) {
      padding-top: 0.125rem;
      margin-left: 1.5rem;
      text-transform: lowercase;
    }
  }

  &__socials {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__social {
    padding: 0;
    margin: 0;
  }

  &__office-media {
    position: relative;
    z-index: 1;
    margin-bottom: 0.75rem;
    overflow: hidden;

    &::after {
      display: block;
      padding-bottom: (9 / 16) * 100%;
      content: '';
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  &__office-media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(1.2);
      transform-origin: center;
      object-fit: cover;
    }
  }

  &__address {
    margin: 0;
    margin-top: 0.25rem;
    font-family: $font-f--head;
    font-size: ms(2);
    line-height: 1em;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-top: 0.75rem;
    }
  }
}
