.service-card {
  position: relative;
  display: block;
  color: currentColor;
  text-decoration: none;

  &:hover {

    .service-card__media {
      transform: scale(0.95);

      img {
        // transform: scale(1.275);
        transform: scale(1.075);
      }
    }

    .service-card__count::after {
      transform: scaleY(0);
      transform-origin: bottom center;
    }

    .service-card__arrow svg {
      transform: translate3d(0.125rem, -0.125rem, 0) rotate(-45deg);
    }
  }

  &__media {
    position: relative;
    z-index: 1;
    margin-bottom: 0.75rem;
    overflow: hidden;
    transition: transform 0.75s $transition-t--faster;
    transform-origin: center;
    will-change: transform;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }

    &::after {
      display: block;
      padding-bottom: (9 / 16) * 100%;
      content: '';
    }

    .has-scroll-init & {

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        background-color: $c--shade;
        transition: transform 1s $transition-t;
        transition-delay: 0.25s;
        transform: scaleY(1);
        transform-origin: top center;
      }
    }

    &.is-inview {

      &::before {
        transform: scaleY(0);
        transform-origin: bottom center;
      }
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.75s $transition-t--faster;
      // transform: scale(1.2);
      transform-origin: center;
      object-fit: cover;
      will-change: transform;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &::after {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
    }

    .has-scroll-init &::after {
      transition: transform 0.75s $transition-t--faster 0.25s;
      transform: scaleX(0);
      transform-origin: left center;
    }

    &.is-inview {

      &::after {
        transform: scaleX(1);
      }

      .service-card__count,
      .service-card__intro,
      .service-card__arrow {
        opacity: 1;
      }
    }
  }

  &__count {
    position: relative;
    flex: 0 0 auto;
    width: 2.25rem;
    max-width: 100%;
    font-family: $font-f--num;
    font-size: ms(4);
    font-weight: 700;
    line-height: 0.9em;

    @media (min-width: $screen-sm) {
      width: 3rem;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 100%;
      width: 1px;
      height: 3rem;
      content: '';
      background-color: currentColor;
      opacity: 0.125;
      transition: transform 0.75s $transition-t;
      transform: scaleY(1);
      transform-origin: top center;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.5s $transition-t 0.125s;
    }
  }

  &__intro {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    padding: 0 2.25rem 0.75rem 1rem;

    @media (min-width: $screen-sm) {
      padding: 0 2.25rem 1.5rem 1.5rem;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.5s $transition-t 0.125s;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: $font-f--head;
    font-size: ms(1);
    font-weight: 700;
    line-height: 1.05em;
    text-transform: uppercase;
    letter-spacing: -0.01em;
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.45em;
    opacity: 0.5;
  }

  &__arrow {
    position: absolute;
    top: 0.25rem;
    right: 0.75rem;

    svg {
      display: block;
      transition: transform 0.5s $transition-t;
      transform: translate3d(0, 0, 0) rotate(-45deg);
      transform-origin: center;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.5s $transition-t 0.125s;
    }
  }

  &--broadcast {

    .service-card__media::after {

      @media (min-width: $screen-sm) {
        padding-bottom: (3 / 4) * 100%;
      }
    }
  }

  &--movies {

    .service-card__media::after {

      @media (min-width: $screen-sm) {
        padding-bottom: (4 / 3) * 100%;
      }
    }
  }

  &--b2b {

    .service-card__media::after {

      @media (min-width: $screen-sm) {
        padding-bottom: 100%;
      }
    }
  }

  &--3d {

    .service-card__media::after {

      @media (min-width: $screen-sm) {
        padding-bottom: (9 / 16) * 100%;
      }
    }
  }
}
