mixin service-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' service-card--' + modsList[i].trim();
      }
    }

  a.service-card(class=allMods, href='/')&attributes(attributes)
    .service-card__media(data-scroll)
      .service-card__media-wrap(data-scroll)
        img(src=props.media, alt='')
    .service-card__info(data-scroll)
      .service-card__count
        span!= props.count
      .service-card__intro
        h3.service-card__title!= props.title
        .service-card__desc
          p The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.
      .service-card__arrow
        +svg-icon('arrow', 12, 10)