mixin get-in-touch()

  aside.get-in-touch(id='get-in-touch-modal')
    .get-in-touch__bg
    .get-in-touch__wrap
      header.get-in-touch__header
        button.get-in-touch__close
          span.get-in-touch__close-icon
            svg(viewbox='0 0 29 29')
              g(fill='none', fill-rule='evenodd', stroke-linecap='square')
                path(d='M1.253 1.678l25.844 25.844')
                path(d='M1.253 27.522L27.097 1.678')
      .get-in-touch__main
        h3.get-in-touch__title Cricket bat max brucks terribilem incessu zomby
        +form().get-in-touch__form
          +field-text({
            title: 'Name',
            mods: '',
            val: '',
            attrs: {
              name: 'name',
              placeholder: 'Enter your name'
            }
          })
          +field-text({
            title: 'Phone',
            mods: '',
            val: '',
            attrs: {
              name: 'phone',
              placeholder: 'Your phone'
            }
          })
          +field-text({
            title: 'E-mail',
            mods: '',
            val: '',
            attrs: {
              name: 'e-mail',
              placeholder: 'Your e-mail'
            }
          })
          +field-actions()
            +field-submit('Submit', 'dark')

      footer.get-in-touch__footer
        ul.get-in-touch__contacts-list
          li.get-in-touch__contacts-item
            a.get-in-touch__contacts-link(href='tel:+79266543892')
              | +7 (926) 654-38-92
          li.get-in-touch__contacts-item
            a.get-in-touch__contacts-link(href='mailto:hello@cavaliers.studio')
              | hello@cavaliers.studio
          li.get-in-touch__contacts-item.get-in-touch__contacts-item--telegram
            a.get-in-touch__contacts-link(href='https://telegram.me/account-name', target='_blank', rel='noopener')
              | Telegram
              +svg-icon('arrow', 10, 10)
          li.get-in-touch__contacts-item.get-in-touch__contacts-item--whatsapp
            a.get-in-touch__contacts-link(href='https://wa.me/79999999999', target='_blank', rel='noopener')
              | Whatsapp
              +svg-icon('arrow', 11, 10)