.get-in-touch {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0s linear 0.75s;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $c--dark;
    opacity: 0;
    transition: opacity 1.75s $transition-t--faster;
  }

  &__wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    color: $c--shade;
    background-color: $c--dark;
    transition: transform 0.75s $transition-t--faster;
    transform: translateX(100%);
    -webkit-overflow-scrolling: touch;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    padding: 2.25rem 1.5rem 1.5rem;
    opacity: 0;
    transition: all 1.75s $transition-t--faster;
    transform: translateX(2.5rem);
  }

  &__close {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    overflow: visible;
    color: currentColor;
    vertical-align: middle;
    cursor: pointer;
    background-color: $c--shade;
    border: none;
    border-radius: 2.5rem;
    outline: none;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $accent-c;
      border-radius: 2.5rem;
      transition: transform 1s $transition-t--faster;
      transform: scale(0);
      transform-origin: center center;
    }

    &:hover {

      &::before {
        transform: scale(1.05);
      }

      .get-in-touch__close-icon {
        transition-delay: 0.1s;
        transform: translateX(0) rotate(90deg);
      }
    }
  }

  &__close-icon {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    pointer-events: none;
    transition: transform 0.75s $transition-t--faster;

    svg {
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      transition: stroke 0.75s $transition-t--faster;
      stroke: $c--dark;
      stroke-width: 2px;
    }
  }

  &__main {
    padding: 1.5rem 2.25rem;
    opacity: 0;
    transition: opacity 1.75s $transition-t--faster, transform 1.75s $transition-t--faster;
    transition-delay: 0.2s;
    transform: translateX(2.5rem);
  }

  &__title {
    margin-top: 0;
    margin-bottom: 2.25rem;
    font-family: $font-f--head;
    font-size: ms(2);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }

  &__footer {
    padding: 1.5rem 2.25rem 2.25rem;
    opacity: 0;
    transition: opacity 1.75s $transition-t--faster, transform 1.75s $transition-t--faster;
    transition-delay: 0.4s;
    transform: translateX(2.5rem);
  }

  &__footer-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__contacts-list {
    grid-area: contacts-list;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__contacts-item {
    padding: 0;
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: ms(-1);
    line-height: 1.45em;
    color: currentColor;
    text-transform: lowercase;

    &--telegram {
      margin-top: 1.5rem;

      @media (min-width: $screen-sm) {
        margin-top: 2.25rem;
      }
    }
  }

  &__contacts-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;

    &::before {
      position: absolute;
      top: -0.25em;
      right: -0.25em;
      bottom: -0.25em;
      left: -0.25em;
      content: '';
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
      transition: transform 0.5s $transition-t;
      transform: scaleX(0);
      transform-origin: center right;
    }

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;

      &::after {
        transform: scaleX(1);
        transform-origin: center left;
      }

      svg {
        transform: translate3d(0.125rem, -0.125rem, 0) rotate(-45deg);
      }
    }

    svg {
      display: block;
      margin-left: 0.5rem;
      transition: transform 0.5s $transition-t;
      transform: translate3d(0, 0, 0) rotate(-45deg);
      transform-origin: center;
    }
  }

  &--is-active {
    visibility: visible;
    transition-delay: 0s;

    .get-in-touch__bg {
      opacity: 0.2;
    }

    .get-in-touch__wrap,
    .get-in-touch__header,
    .get-in-touch__main,
    .get-in-touch__footer {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
