mixin team-card(props)

  -
    if (typeof(props) === 'undefined') { var props = {}; }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' team-card--' + modsList[i].trim();
      }
    }

  article.team-card(class=allMods)&attributes(attributes)
    .team-card__info(data-scroll)
      h3.team-card__name
        | Name
        br
        | Surname
      .team-card__links
        a(href='/') Website
      .team-card__position Position or description
    .team-card__media(data-scroll)
      .team-card__media-wrap
        img(src=props.media, alt='')