.team-card {

  &__info {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.75rem 0 0.25rem;

    @media (min-width: $screen-sm) {
      padding: 1.5rem 0 0.75rem;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
    }

    .has-scroll-init &::before {
      transition: transform 0.75s $transition-t--faster 0.125s;
      transform: scaleX(0);
      transform-origin: left center;
    }

    &.is-inview {

      &::before {
        transform: scaleX(1);
      }
    }
  }

  &__name {
    flex: 1 0 0%;
    width: auto;
    max-width: 100%;
    margin-top: 0;
    font-family: $font-f--head;
    font-size: ms(1);
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;
  }

  &__links {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding-right: 0.75rem;
    font-size: ms(-1);
    font-weight: 600;
    line-height: 1.45em;

    a {
      color: currentColor;
      text-decoration: none;

      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }

  &__position {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    font-size: ms(-1);
    line-height: 1.45em;
  }

  &__media {
    position: relative;
    z-index: 1;
    margin-bottom: 0.75rem;
    overflow: hidden;
    transition: transform 0.75s $transition-t--faster;
    transform-origin: center;
    will-change: transform;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }

    &::after {
      display: block;
      padding-bottom: (4 / 3) * 100%;
      content: '';
    }

    .has-scroll-init & {

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        background-color: $c--shade;
        transition: transform 1s $transition-t 0.5s;
        transition-delay: 0.25s;
        transform: scaleY(1);
        transform-origin: top center;
      }
    }

    &.is-inview {

      &::before {
        transform: scaleY(0);
        transform-origin: bottom center;
      }
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.75s $transition-t--faster;
      transform: scale(1.2);
      transform-origin: center;
      object-fit: cover;
      will-change: transform;
    }
  }
}
