.work {
  position: relative;
  z-index: 3;
  padding: 3.75rem 1rem 4.5rem;
  overflow: hidden;
  color: $c--dark;
  counter-reset: workSections -1;
  background-color: $c--shade;

  @media (min-width: $screen-sm) {
    padding: 7.5rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__title {
    position: relative;
    max-width: 25ch;
    margin-top: 0;
    margin-bottom: 2.25rem;
    font-family: $font-f--head;
    font-size: ms(3);
    font-weight: 700;
    line-height: 0.9em;
    text-transform: uppercase;
    letter-spacing: -0.01em;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 20vw;
      height: 20vw;
      content: '';
      background-color: $accent-c;
      border-radius: 20vw;
      transform: translate3d(-25%, -25%, 0);
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 3.75rem;
      font-size: ms(4);
    }
  }

  &__block {
    position: relative;
    padding-top: 0.75rem;
    counter-increment: workSections;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template: 'intro info info' / 3fr 6fr 3fr;
      padding-top: 2.25rem;
      gap: 0 0.75rem;
    }

    @media (min-width: $screen-md) {
      grid-template: 'intro info . .' / 3fr 5fr 1fr 3fr;
      gap: 0 0.75rem;
    }

    .has-scroll-init & {

      &::before {
        transition: transform 0.75s $transition-t--faster 0.25s;
        transform: scaleX(0);
        transform-origin: left center;
      }
    }

    &--video {

      @media (min-width: $screen-md) {
        grid-template: 'intro info info info' / 3fr 5fr 1fr 3fr;
        gap: 0 0.75rem;
      }
    }

    &--desc {

      @media (min-width: $screen-sm) {
        grid-template: 'intro info desc' / 3fr 6fr 3fr;
        gap: 0 0.75rem;
      }

      @media (min-width: $screen-md) {
        grid-template: 'intro info . desc' / 3fr 5fr 1fr 3fr;
        gap: 0 0.75rem;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
    }

    &::after {
      position: absolute;
      bottom: calc(100% + 0.25rem);
      left: 0;
      font-size: ms(-2);
      font-weight: 600;
      line-height: 1.4em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      content: counter(workSections, decimal-leading-zero);
      opacity: 0.5;
    }

    &:not(:last-child) {
      margin-bottom: 3.75rem;
    }

    &.is-inview {

      .work__block-intro,
      .work__block-info,
      .work__desc-defs {
        opacity: 1;
      }

      &::before {
        transform: scaleX(1);
      }
    }
  }

  &__block-intro {
    margin-bottom: 0.75rem;

    @media (min-width: $screen-sm) {
      grid-area: intro;
      margin-bottom: 0;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.5s $transition-t 0.5s;
    }
  }

  &__block-title {
    margin: 0;
    font-size: ms(-2);
    font-weight: 600;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.5;
  }

  &__block-info {

    @media (min-width: $screen-sm) {
      grid-area: info;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.5s $transition-t 0.55s;
    }
  }

  &__video {
    position: relative;
    background-color: $bg-c--dark;
  }

  &__video-showreel {
    position: absolute;
    right: 4.5rem;
    bottom: 4.5rem;
    z-index: 2;
    width: 190px;
    height: 190px;

    @media (max-width: ($screen-lg - 1px)) {
      right: 50%;
      bottom: 50%;
      transform: translate3d(50%, 50%, 0);
    }
  }

  &__video-cover {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
      display: block;
      padding-bottom: (3 / 4) * 100%;
      content: '';

      @media (min-width: $screen-xs) {
        padding-bottom: (9 / 16) * 100%;
      }
    }
  }

  &__video-cover-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(1.1);
      object-fit: cover;
    }
  }

  &__text {
    font-size: ms(1);
    font-weight: 600;
    line-height: 1.2em;
  }

  &__desc-defs {

    @media (min-width: $screen-sm) {
      grid-area: desc;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.5s $transition-t 0.6s;
    }
  }

  &__def-list {
    margin: 0;
    font-size: ms(-1);
    line-height: 1.3em;
  }

  &__def-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__def-term {
    flex: 0 0 auto;
    width: 30%;
    max-width: 100%;
    padding-right: 1.5rem;
    font-weight: 400;
    opacity: 0.5;
  }

  &__def-desc {
    flex: 0 0 auto;
    width: 70%;
    max-width: 100%;
    margin: 0;
    font-weight: 400;
  }

  &__tasks {
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: tasks;
  }

  &__task {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: ms(1);
    font-weight: 600;
    line-height: 1.2em;
    counter-increment: tasks;

    &::before {
      position: relative;
      display: inline-block;
      width: 2rem;
      font-size: ms(-2);
      font-weight: 400;
      content: counter(tasks, decimal-leading-zero) '.';

      @media (min-width: $screen-xl) {
        position: absolute;
        top: 0.625rem;
        left: -2rem;
        line-height: 1em;
      }
    }
  }

  &__gallery {
    position: relative;
    padding-top: 0.75rem;
    counter-increment: workSections;

    @media (min-width: $screen-sm) {
      padding-top: 1.5rem;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
    }

    &::after {
      position: absolute;
      bottom: calc(100% + 0.25rem);
      left: 0;
      font-size: ms(-2);
      font-weight: 600;
      line-height: 1.4em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      content: counter(workSections, decimal-leading-zero);
      opacity: 0.5;
    }

    .has-scroll-init & {

      &::before {
        transition: transform 0.75s $transition-t--faster 0.25s;
        transform: scaleX(0);
        transform-origin: left center;
      }
    }

    &.is-inview {

      &::before {
        transform: scaleX(1);
      }
    }
  }

  &__gallery-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }

  &__gallery-slider {
    width: 100%;

    .swiper-slide:nth-child(1) {

      .work__gallery-thumb::before {
        transition-delay: 0.25s;
      }
    }

    .swiper-slide:nth-child(2) {

      .work__gallery-thumb::before {
        transition-delay: 0.3s;
      }
    }

    .swiper-slide:nth-child(3) {

      .work__gallery-thumb::before {
        transition-delay: 0.35s;
      }
    }
  }

  &__gallery-thumb {
    position: relative;
    z-index: 1;
    display: block;
    height: 10rem;
    margin-bottom: 0.75rem;
    overflow: hidden;
    color: currentColor;
    text-decoration: none;

    @media (min-width: $screen-sm) {
      height: 12.5rem;
    }

    @media (min-width: $screen-sm) {
      height: 20rem;
      margin-bottom: 1rem;
    }

    .has-scroll-init & {

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        background-color: $c--shade;
        transition: transform 1s $transition-t;
        transition-delay: 0.25s;
        transform: scaleY(1);
        transform-origin: top center;
      }
    }

    &.is-inview {

      &::before {
        transform: scaleY(0);
        transform-origin: bottom center;
      }
    }
  }

  &__gallery-thumb-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
