.field-submit {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem 2.25rem;
  margin: 0;
  overflow: hidden;
  font-family: $font-f;
  font-size: ms(-1);
  font-weight: 600;
  line-height: 1.45em;
  color: $c--shade;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: $c--dark;
  background-image: none;
  border: none;
  border-radius: 0;
  transition: all 250ms $transition-t;

  &--dark {
    color: $c--dark;
    background-color: $c--shade;
  }
}
