mixin field-submit(text, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' field-submit--' + modsList[i].trim();
      }
    }

  button.field-submit(class=allMods, type='button')&attributes(attributes)!= text