.questions {
  position: relative;
  z-index: 2;
  padding: 2.25rem 1rem 4.5rem;
  color: $c--shade;
  background-color: $c--dark;

  @media (min-width: $screen-sm) {
    padding: 3.75rem 1.5rem 7.5rem;
  }

  &__container {
    @include container;
  }

  &__header {
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.5s $transition-t 0.125s;
    }

    &.is-inview {
      opacity: 1;

      .questions__title::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin: 0;

    &::after {
      position: relative;
      display: inline-block;
      width: 1vw;
      height: 1vw;
      margin-left: 0.125em;
      content: '';
      background-color: $accent-c;
      border-radius: 1vw;

      .has-scroll-init & {
        opacity: 0;
        transition: 0.5s $transition-t 0.5s;
        transform: scale(0);
      }
    }
  }

  &__form {
    position: relative;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template: 'left right' / 3fr 9fr;
      gap: 0 0.75rem;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        background-color: currentColor;
      }

      .has-scroll-init &::before {
        transition: transform 0.75s $transition-t 0.25s;
        transform: scaleX(0);
        transform-origin: left center;
      }

      &.is-inview {

        &::before {
          transform: scaleX(1);
        }
      }
    }
  }

  &__form-left {

    @media (min-width: $screen-sm) {
      position: relative;
      grid-area: left;
      padding: 2.25rem 1.5rem 0;
    }
  }

  &__form-right {

    @media (min-width: $screen-sm) {
      position: relative;
      grid-area: right;
      padding: 2.25rem 1.5rem 0;
    }
  }
}
