@font-face {
  font-family: 'Bebas Neue Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/bebas-neue-pro-700.woff2') format('woff2');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/din2014-400.woff2') format('woff2');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/din2014-600.woff2') format('woff2');
}

@font-face {
  font-family: Morganite;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/morganite-700.woff2') format('woff2');
}
