// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$c--dark: #16191c;
$c--shade: #cbdada;
$c--white: #fff;

$text-c: #282f33;
$text-c--light: #fff;

$bg-c: #fff;
$bg-c--shade: #f7fafc;
$bg-c--dark: $text-c;

$accent-c: #33fc58;
$primary-c: #33fc58;



// Fonts
$font-f: 'DIN 2014', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

$font-f--head: 'Bebas Neue Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

$font-f--num: Morganite, sans-serif;

// Misc
$border-c: rgba($text-c, 0.125);
$border-r: 4px;
$transition-t: cubic-bezier(0.2, 0.85, 0.45, 1);
$transition-t--faster: cubic-bezier(0.075, 0.82, 0.165, 1);



@mixin s-basic {
  position: relative;
  z-index: 2;
  padding: 2.25rem 1rem 4.5rem;
  color: $c--dark;
  background-color: $c--shade;

  @media (min-width: $screen-sm) {
    padding: 3.75rem 1.5rem 7.5rem;
  }
}

@mixin container {
  position: relative;
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
}

@mixin subtitle {
  position: relative;
  display: inline-block;
  padding-left: calc(0.75rem + 6px);
  margin-bottom: 0.75rem;
  font-size: ms(-1);
  font-weight: 600;
  line-height: 1.45em;

  &::before {
    position: absolute;
    top: 0.25rem;
    left: 0;
    width: 6px;
    height: 6px;
    content: '';
    background-color: currentColor;
    border-radius: 6px;
  }
}

@mixin title {
  max-width: 30ch;
  margin-top: 0;
  font-family: $font-f--head;
  font-size: ms(2);
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: -0.01em;

  @media (min-width: $screen-sm) {
    font-size: ms(3);
  }
}
