.project-card {

  &__media {
    position: relative;
    z-index: 1;
    display: block;
    height: 10rem;
    margin-bottom: 0.75rem;
    overflow: hidden;
    color: currentColor;
    text-decoration: none;
    transition: transform 0.75s $transition-t--faster;
    transform-origin: center;
    will-change: transform;

    @media (min-width: $screen-sm) {
      height: 12.5rem;
    }

    @media (min-width: $screen-sm) {
      height: 20rem;
      margin-bottom: 1rem;
    }

    &:hover {
      transform: scale(0.95);

      img {
        transform: scale(1.075);
      }
    }

    .has-scroll-init & {

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        background-color: $c--shade;
        transition: transform 1s $transition-t;
        transition-delay: 0.25s;
        transform: scaleY(1);
        transform-origin: top center;
      }
    }

    &.is-inview {

      &::before {
        transform: scaleY(0);
        transform-origin: bottom center;
      }
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.75s $transition-t--faster;
      transform: scale(1);
      transform-origin: center;
      will-change: transform;
    }
  }

  &__info {

    .has-scroll-init & {
      opacity: 0;
      transition: 0.5s $transition-t 0.25s;
    }

    &.is-inview {
      opacity: 1;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: $font-f--head;
    font-size: ms(1);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: -0.01em;
  }

  &__desc {
    margin-bottom: 0.75rem;
    font-size: ms(-1);
    line-height: 1.45em;
    opacity: 0.5;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__date {
    font-size: 0.6em;
    line-height: 1.4em;

    &::before {
      position: relative;
      display: inline-block;
      margin-right: 0.25rem;
      content: '/';
    }
  }

  &--vertical {

    .project-card__media::before {
      padding-bottom: (4 / 3) * 100%;
    }
  }
}
