mixin project-card(props)

  -
    if (typeof(props) === 'undefined') { var props = {}; }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' project-card--' + modsList[i].trim();
      }
    }

  article.project-card(class=allMods)&attributes(attributes)
    a.project-card__media(href='/', data-scroll)
      .project-card__media-wrap
        img(src=props.media, alt='', width='335', height='280')
    .project-card__info(data-scroll)
      h3.project-card__title!= props.title
      .project-card__desc
        p!= props.desc
      .project-card__date!= props.date