.clients {
  @include s-basic;

  &__container {
    @include container;
  }

  &__header {
    position: relative;
    margin-bottom: 1.5rem;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 15vw;
      height: 15vw;
      content: '';
      background-color: $accent-c;
      border-radius: 15vw;
      transition: 0.75s $transition-t 0.5s;
      transform: translate3d(-25%, -25%, 0);
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.75s $transition-t 0.5s;

      &::before {
        opacity: 0;
        transition: 0.75s $transition-t 0.5s;
        transform: translate3d(-25%, -25%, 0) scale(0);
      }
    }

    &.is-inview {
      opacity: 1;

      &::before {
        opacity: 1;
        transform: translate3d(-40%, -40%, 0) scale(1);
      }
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  &__list-wrap {
    position: relative;

    @media (min-width: $screen-sm) {

      &::before,
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        content: '';
        background-color: currentColor;
        transition: 0.75s $transition-t;
        transform: translateX(-50%) scaleY(0);
        transform-origin: top center;
      }

      &::before {
        left: 25%;
        transition-delay: 0.4s;
      }

      &::after {
        left: 75%;
        transition-delay: 0.6s;
      }
    }

    &.is-inview {

      @media (min-width: $screen-sm) {

        &::before,
        &::after {
          transform: translateX(-50%) scaleY(1);
        }
      }

      &::before {
        transform: scaleY(1);
      }

      .clients__list::before {
        transform: translateX(-50%) scaleY(1);
      }

      .clients__item {
        opacity: 1;
      }
    }
  }

  &__list {
    position: relative;
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      content: '';
      background-color: currentColor;
      transition: 0.75s $transition-t 0.5s;
      transform: translateX(-50%);
    }

    .has-scroll-init & {

      &::before {
        transform: translateX(-50%) scaleY(0);
        transform-origin: top center;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    padding: 0;
    margin: 0;

    @media (min-width: $screen-sm) {
      height: 10rem;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
      opacity: 0.125;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.75s $transition-t;

      @for $i from 1 to 11 {

        &:nth-child(#{$i}) {
          transition-delay: 0.5s + ($i * 0.05s);
        }
      }
    }
  }
}
