.work-stages {
  position: relative;
  z-index: 2;
  padding: 2.25rem 1rem 4.5rem;

  @media (min-width: $screen-sm) {
    padding: 3.75rem 1.5rem 7.5rem;
  }

  &__container {
    @include container;
  }

  &__header {
    margin-bottom: 2.25rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.5s $transition-t 0.125s;
    }

    &.is-inview {
      opacity: 1;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin: 0;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: workStages;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    counter-increment: workStages;

    &:not(:last-child) {
      margin-bottom: 2.25rem;

      @media (min-width: $screen-sm) {
        margin-bottom: 3.75rem;
      }
    }

    &::before,
    &::after {
      position: absolute;
      bottom: 100%;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
    }

    &::before {
      width: 100%;
      opacity: 0.125;
    }

    &::after {
      transition: transform 0.5s $transition-t;
      transform: scale(0);
      transform-origin: left center;
    }

    &--first {

      &::after {
        width: calc(100% / 6);
        transition-delay: 0.1s;
      }
    }

    &--second {

      &::after {
        width: calc((100% / 6) * 2);
        transition-delay: 0.15s;
      }
    }

    &--third {

      &::after {
        width: calc((100% / 6) * 3);
        transition-delay: 0.2s;
      }
    }

    &--fourh {

      &::after {
        width: calc((100% / 6) * 4);
        transition-delay: 0.25s;
      }
    }

    &--fifth {

      &::after {
        width: calc((100% / 6) * 5);
        transition-delay: 0.3s;
      }
    }

    &--sixth {

      &::after {
        width: calc((100% / 6) * 6);
        transition-delay: 0.35s;
      }
    }

    &.is-inview {

      &::after {
        transition-delay: 0.4s;
        transform: scaleX(1);
      }
    }
  }

  &__item-num {
    position: relative;
    flex: 0 0 auto;
    width: 2.25rem;
    max-width: 100%;
    padding-top: 1rem;

    @media (min-width: $screen-md) {
      width: 10rem;
      padding-top: 1.5rem;
      text-align: center;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 100%;
      width: 1px;
      height: 3rem;
      content: '';
      background-color: currentColor;
      opacity: 0.125;
      transition: transform 0.75s $transition-t;
      transform: scaleY(1);
      transform-origin: top center;
    }

    span {
      position: relative;
      display: block;

      &::before {
        position: relative;
        font-family: $font-f--num;
        font-size: ms(3);
        font-weight: 700;
        line-height: 1em;
        content: counter(workStages, decimal-leading-zero);

        @media (min-width: $screen-md) {
          font-size: ms(5);
        }
      }
    }

    .has-scroll-init & {
      opacity: 0;
      transition: 0.75s $transition-t;
    }

    &.is-inview {
      opacity: 1;
    }
  }

  &__item-info {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    padding: 1rem 1rem 0;
    margin: 0;
    opacity: 0;
    transition: 0.75s $transition-t;
    transition-delay: 0.1s;

    @media (min-width: $screen-md) {
      padding: 1.5rem 3rem 0;
    }

    &.is-inview {
      opacity: 1;
    }
  }

  &__item-term {
    max-width: 45ch;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: $font-f--head;
    font-size: ms(1);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: -0.01em;

    @media (min-width: $screen-sm) {
      margin-bottom: 0.75rem;
      font-size: ms(2);
    }
  }

  &__item-desc {
    max-width: 70ch;
    padding: 0;
    margin: 0;
    font-size: ms(-1);
    line-height: 1.45em;
    opacity: 0.5;
  }

  &__item-arrow {
    position: absolute;
    top: 0.75rem;

    @media (min-width: $screen-md) {
      top: 1.25rem;
    }

    &--prev {
      left: 0.75rem;

      @media (max-width: ($screen-sm - 1px)) {
        display: none;
      }
    }

    &--next {
      right: 0.75rem;
    }
  }
}
